<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="Area_Best">
    <table width="740" cellspacing="0"cellpadding="0" border="0">
        <tr>
            <td style="padding-bottom:5px;text-align:left;"><img th:src="@{/img/common/tit_ji.gif}"></td>
            <td align="right"><a href="/product/category?Cat_Content=W_Area"><!--<img src="/img2/btn_ji.gif" style="margin-right:5px;">---><img th:src="@{/img/common/btn_more_01.gif}"></a></td>
        </tr>
        <tr><td colspan="2" height="1px" bgcolor="#a0bf0c"></td></tr>
    </table>
    <table width="740" cellspacing="0"cellpadding="0" border="0" style="margin-top:15px;">


        <tr><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_02"><b>가족</b><br><span class="te_yel02">건강</span></li>
                    <li class="ch_btn"><!--<img src="/img2/btn_plus.gif"><img src="/img2/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A0402N&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0402N/thum260_09.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>냉풍 함초환</b>]   <br>변비와 다이어트를 한번에!</li>
                        <li class="price_01"><span class="te_en">24,000 원</span></li>
                        <li class="price_02"><span class="te_en">23,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img src="/img2/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td><td width="33px"></td><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_02"><b>여성</b><br><span class="te_yel02">건강</span></li>
                    <li class="ch_btn"><!--<img src="/img2/btn_plus.gif"><img src="/img2/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A0101N&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0101N/thum260_10.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>석류꽃향 석류즙</b>]   <br>귀한 국내 고흥산 석류100%</li>
                        <li class="price_01"><span class="te_en">32,000 원</span></li>
                        <li class="price_02"><span class="te_en">28,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img src="/img2/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td><td width="33px"></td><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_02"><b>가족</b><br><span class="te_yel02">건강</span></li>
                    <li class="ch_btn"><!--<img src="/img2/btn_plus.gif"><img src="/img2/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A0604N&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0604N/thum260_11.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>브로컬리양배추생즙100</b>]   <br>소화 개선, 피로회복에 최고!</li>
                        <li class="price_01"><span class="te_en">50,000 원</span></li>
                        <li class="price_02"><span class="te_en">42,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img src="/img2/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td><td width="33px"></td><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_02"><b>가족</b><br><span class="te_yel02">건강</span></li>
                    <li class="ch_btn"><!--<img src="/img2/btn_plus.gif"><img src="/img2/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A0613N&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0613N/thum260_12.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>하얀민들레100</b>]   <br>무기농으로 깨끗하게..</li>
                        <li class="price_01"><span class="te_en">55,000 원</span></li>
                        <li class="price_02"><span class="te_en">45,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img src="/img2/icon_cu.gif">---></li></a>
                </ul>
            </div>

        <tr><td height="20"></td></tr>
        <tr><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_02"><b>가족</b><br><span class="te_yel02">건강</span></li>
                    <li class="ch_btn"><!--<img src="/img2/btn_plus.gif"><img src="/img2/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A1501H&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A1501H/thum260_13.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>알로에베라 주스</b>]   <br>생알로에 현지에서 저온착즙!</li>
                        <li class="price_01"><span class="te_en">54,000 원</span></li>
                        <li class="price_02"><span class="te_en">48,600</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img src="/img2/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td><td width="33px"></td><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_02"><b>가족</b><br><span class="te_yel02">건강</span></li>
                    <li class="ch_btn"><!--<img src="/img2/btn_plus.gif"><img src="/img2/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A1701N&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A1701N/qqqq.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>천년동안 </b>]   <br>해양심층수</li>
                        <li class="price_01"><span class="te_en">21,000 원</span></li>
                        <li class="price_02"><span class="te_en">15,300</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img src="/img2/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td><td width="33px"></td><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_02"><b>여성</b><br><span class="te_yel02">건강</span></li>
                    <li class="ch_btn"><!--<img src="/img2/btn_plus.gif"><img src="/img2/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A1104N&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A1104N/thum260_15.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>십사일 다시마 알</b>]   <br>마산에서 찾은 슬로우푸드!!</li>
                        <li class="price_01"><span class="te_en">45,000 원</span></li>
                        <li class="price_02"><span class="te_en">38,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img src="/img2/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td><td width="33px"></td><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_02"><b>고창</b><br><span class="te_yel02">추천</span></li>
                    <li class="ch_btn"><!--<img src="/img2/btn_plus.gif"><img src="/img2/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A1005N&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A1005N/13182242125_1.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>베리원 플러스</b>]   <br>요강을 뒤집는 힘!</li>
                        <li class="price_01"><span class="te_en">72,000 원</span></li>
                        <li class="price_02"><span class="te_en">60,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img src="/img2/icon_cu.gif">---></li></a>
                </ul>
            </div>

        <tr><td height="20"></td></tr>
        <tr><td height="20px;"></td></tr>
        <tr><td height="30px;"></td></tr>
        </td></tr>
    </table>
</th:block>