<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="Best_10">
<div style="padding-top:15px;"><img th:src="@{/img/common/tit_1.png}"></div>
<div style="padding-top:10px;width:740px;">
    <table width="100%" cellspacing="1"cellpadding="0" border="0" style="background-color:#d7d7d7;">
        <tr><td height="1px" bgcolor="#d7d7d7" colspan="3"></td></tr>
        <tr>
            <td width="300px" rowspan="2" bgcolor="white" valign="top" align="center">
                <div style="padding-top:10px;padding-bottom:10px;"><img th:src="@{/img/common/tx_41.png}"></div>
                <div style="width:300px; height:310px;padding-top:3px;" id="sub_0">
                    <div style="width:294px; height:307px; background-color:white;"onmouseover="javascript:SO('sub_0');" onmouseout="javascript:SW('sub_0');">
                        <div class="detail_best01" style="width:260px;position:relative;display:inline-block;z-index:999;">
                            <div class="best_icon" style="position:absolute;top:5px;left:-8px;"><img th:src="@{/img/common/icon_bt01.png}"></div>
                            <div style="text-align:center;"><a th:href="@{/product/detail?code=wisefood_licoverS&Cat_Content=}"><img th:src="@{/img/product/wisefood_licoverS/13244376829_thum260_198.jpg}" width="254px"height="250px"></a></div>
                            <div style="padding-top:15px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">리커버S</div>
                            <div style="text-align:center;padding-top:3px;"class="sz_18 te_gn2 te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">40,000 원</span>33,000<span class="te_do teb sz_12">원</span></div>
                        </div>
                    </div>
                </div>
            </td>
            <td width="218px" height="210" bgcolor="white"valign="top">
                <div class="sub_chu_tit">추천상품</div>
                <div style="width:212px; height:175px; padding:3px" id="sub_02">
                    <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_02');" onmouseout="javascript:SW('sub_02');">
                        <div class="detail_best02" style="width:206px;position:relative;display:inline-block;z-index:999;">
                            <div class="best_icon" style="position:absolute;top:5px;left:-8px;"><img th:src="@{/img/common/icon_bt02.png}"></div>
                            <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A1801H&Cat_Content=}"><img th:src="@{/img/product/W_A1801H/13201347029_thum260_123.jpg}" width="200px"height="120px"></a></div>
                            <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">Q바이트플라센타</div>
                            <div style="text-align:center;"class="sz_18 te_gn2 te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">180,000 원</span>126,000<span class="te_do teb sz_12">원</span></div>

                        </div>
                    </div>
                </div>
            </td>
            <td width="218px" height="210" bgcolor="white"valign="top">
                <div class="sub_chu_tit">추천상품</div>
                <div style="width:212px; height:175px; padding:3px" id="sub_03">
                    <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_03');" onmouseout="javascript:SW('sub_03');">
                        <div class="detail_best02" style="width:206px;position:relative;display:inline-block;z-index:999;">
                            <div class="best_icon" style="position:absolute;top:5px;left:-8px;"><img th:src="@{/img/common/icon_bt03.png}"></div>
                            <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0402N&Cat_Content=}"><img th:src="@{/img/product/W_A0402N/thum260_09.jpg}" width="200px"height="120px"></a></div>
                            <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">냉풍 함초환</div>
                            <div style="text-align:center;"class="sz_18 te_gn2 te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">24,000 원</span>23,000<span class="te_do teb sz_12">원</span></div>

                        </div>
                    </div>
                </div>
            </td>
        </tr><tr>
        <td width="218px" height="210" bgcolor="white"valign="top">
            <div class="sub_chu_tit">추천상품</div>
            <div style="width:212px; height:175px; padding:3px" id="sub_04">
                <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_04');" onmouseout="javascript:SW('sub_04');">
                    <div class="detail_best02" style="width:206px;position:relative;display:inline-block;z-index:999;">
                        <div class="best_icon" style="position:absolute;top:5px;left:-8px;"><img th:src="@{/img/common/icon_bt04.png}"></div>
                        <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A2303H&Cat_Content=}"><img th:src="@{/img/product/W_A2303H/13209924690_thum260_138.jpg}" width="200px"height="120px"></a></div>
                        <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">TNG 오메가-3</div>
                        <div style="text-align:center;"class="sz_18 te_gn2 te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">66,000 원</span>60,000<span class="te_do teb sz_12">원</span></div>

                    </div>
                </div>
            </div>
        </td>
        <td width="218px" height="210" bgcolor="white"valign="top">
            <div class="sub_chu_tit">추천상품</div>
            <div style="width:212px; height:175px; padding:3px" id="sub_05">
                <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_05');" onmouseout="javascript:SW('sub_05');">
                    <div class="detail_best02" style="width:206px;position:relative;display:inline-block;z-index:999;">
                        <div class="best_icon" style="position:absolute;top:5px;left:-8px;"><img th:src="@{/img/common/icon_bt05.png}"></div>
                        <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A2313H&Cat_Content=}"><img th:src="@{/img/product/W_A2313H/13209989090_thum260_148.jpg}" width="200px"height="120px"></a></div>
                        <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">TNG 칼슘앤마그네슘</div>
                        <div style="text-align:center;"class="sz_18 te_gn2 te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">71,000 원</span>65,000<span class="te_do teb sz_12">원</span></div>

                    </div>
                </div>
            </div>
        </td>
    </tr>
        <tr><td height="1px" bgcolor="#d7d7d7" colspan="3"></td></tr>
    </table>
</div>
</th:block>