<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="Func_Best">
    <table width="740" cellspacing="0"cellpadding="0" border="0">
        <tr>
            <td style="padding-bottom:8px;text-align:left;"><img th:src="@{/img/common/tit_gi.gif}"></td>
            <td style="padding-bottom:3px;text-align:right;"><a href="/product/category?Cat_Content=W_Feat&Types=W_F_cate1"><!--<img th:src="@{/img/common/btn_gi.gif" style="margin-right:5px;">---><img th:src="@{/img/common/btn_more_02.gif}"></a></td>
        </tr>
        <tr><td colspan="2" height="1px" bgcolor="#a0bf0c"></td></tr>
    </table>
    <table width="740" cellspacing="0"cellpadding="0" border="0" style="margin-top:15px;">
        <tr><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_01"><b>숙취</b><br><span class="te_yel02">해소</span></li>
                    <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif}"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=wisefood_licoverS&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/wisefood_licoverS/13244376829_thum260_198.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>리커버S</b>]   <br>2012년! UPGRADE!</li>
                        <li class="price_01"><span class="te_en">80,000 원</span></li>
                        <li class="price_02"><span class="te_en">64,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img th:src="@{/img/common/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td><td width="33px"></td><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_01"><b>남성</b><br><span class="te_yel02">건강</span></li>
                    <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=wisefood_licover_01&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/wisefood_licover_01/thum260_03.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>골드시슬</b>]   <br>간 건강의 진정한 파수꾼</li>
                        <li class="price_01"><span class="te_en">140,000 원</span></li>
                        <li class="price_02"><span class="te_en">77,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img th:src="@{/img/common/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td><td width="33px"></td><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_01"><b>기능</b><br><span class="te_yel02">식품</span></li>
                    <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A2002H&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A2002H/13182251793_thum260_77.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>칸케어</b>]   <br>알콜성 손상으로부터 간보호</li>
                        <li class="price_01"><span class="te_en">80,000 원</span></li>
                        <li class="price_02"><span class="te_en">49,800</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img th:src="@{/img/common/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td><td width="33px"></td><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_01"><b>기능</b><br><span class="te_yel02">식품</span></li>
                    <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A1901H&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A1901H/13215094087_thum260_126.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>세이웰 비타민E</b>]   <br>활기찬 내일을 위해~!</li>
                        <li class="price_01"><span class="te_en">198,000 원</span></li>
                        <li class="price_02"><span class="te_en">158,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img th:src="@{/img/common/icon_cu.gif">---></li></a>
                </ul>
            </div>

        <tr><td height="20"></td></tr>
        <tr><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_01"><b>기능</b><br><span class="te_yel02">식품</span></li>
                    <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A2304H&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A2304H/13209937201_thum260_139.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>TNG 멀티비타민</b>]   <br>영양제의 기본</li>
                        <li class="price_01"><span class="te_en">49,000 원</span></li>
                        <li class="price_02"><span class="te_en">45,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img th:src="@{/img/common/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td><td width="33px"></td><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_01"><b>기능</b><br><span class="te_yel02">식품</span></li>
                    <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A2303H&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A2303H/13209924690_thum260_138.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>TNG 오메가-3</b>]   <br>고함량 오메가-3</li>
                        <li class="price_01"><span class="te_en">66,000 원</span></li>
                        <li class="price_02"><span class="te_en">60,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img th:src="@{/img/common/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td><td width="33px"></td><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_01"><b>기능</b><br><span class="te_yel02">식품</span></li>
                    <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A2101H&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A2101H/13201344208_thum260_119.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>알렉스</b>]   <br>겨울철 괴로움 이제 안녕~</li>
                        <li class="price_01"><span class="te_en">95,000 원</span></li>
                        <li class="price_02"><span class="te_en">90,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img th:src="@{/img/common/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td><td width="33px"></td><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_01"><b>가족</b><br><span class="te_yel02">건강</span></li>
                    <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A0801H&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0801H/thum260_05.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>오메가 3 프라임</b>]   <br>혈행개선을 위한 필수품</li>
                        <li class="price_01"><span class="te_en">94,800 원</span></li>
                        <li class="price_02"><span class="te_en">79,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img th:src="@{/img/common/icon_cu.gif">---></li></a>
                </ul>
            </div>

        <tr><td height="20"></td></tr>
        <tr><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_01"><b>기능</b><br><span class="te_yel02">식품</span></li>
                    <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A1902H&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A1902H/13201341190_thum260_126.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>세이웰 파워전립소</b>]   <br>회복된 당신의 남성다움!</li>
                        <li class="price_01"><span class="te_en">238,000 원</span></li>
                        <li class="price_02"><span class="te_en">158,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img th:src="@{/img/common/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td><td width="33px"></td><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_01"><b>기능</b><br><span class="te_yel02">식품</span></li>
                    <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A2313H&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A2313H/13209989090_thum260_148.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>TNG 칼슘앤마그네슘</b>]   <br>칼슘과 마그네슘을 한번에</li>
                        <li class="price_01"><span class="te_en">71,000 원</span></li>
                        <li class="price_02"><span class="te_en">65,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img th:src="@{/img/common/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td><td width="33px"></td><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_01"><b>가족</b><br><span class="te_yel02">건강</span></li>
                    <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A0806H&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0806H/thum260_47.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>클로렐라</b>]   <br>건강증진이 필요할땐!</li>
                        <li class="price_01"><span class="te_en">42,000 원</span></li>
                        <li class="price_02"><span class="te_en">33,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img th:src="@{/img/common/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td><td width="33px"></td><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon_01"><b>남성</b><br><span class="te_yel02">건강</span></li>
                    <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A0532H&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0532H/thum260_46.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>쏘팔메토 플러스</b>]   <br>남성건강의 최고봉 쏘팔메토</li>
                        <li class="price_01"><span class="te_en">76,800 원</span></li>
                        <li class="price_02"><span class="te_en">64,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img th:src="@{/img/common/icon_cu.gif">---></li></a>
                </ul>
            </div>

        <tr><td height="20"></td></tr>
        </td></tr>
    </table>
</th:block>