<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="Helt_Best">
    <table width="740" cellspacing="0"cellpadding="0" border="0">
        <tr>
            <td style="padding-bottom:5px;text-align:left;"><img th:src="@{/img/common/tit_hel.gif}"></td>
            <td align="right"><a href="/product/category?Cat_Content=W_Helth"><img th:src="@{/img/common/btn_more_04.gif}"></a></td>
        </tr>
        <tr><td colspan="2" height="1px" bgcolor="#a0bf0c"></td></tr>
    </table>
    <table width="740" cellspacing="0"cellpadding="0" border="0" style="margin-top:15px;">
        <tr><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon"><!--<img th:src="@{/img/common/icon_ji.gif}">---></li>
                    <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif}"><img src="/img2/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A0701L&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0701L/13206554027_thum260_128.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>파워볼</b>]   <br>원조 파워볼의 힘을 보여주마~!</li>
                        <li class="price_01"><span class="te_en">12,000 원</span></li>
                        <li class="price_02"><span class="te_en">9,500</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img src="/img2/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td>
            <td width="33px"></td>
            <td>
                <div class="main_ch">
                    <ul>
                        <li class="ch_icon"><!--<img th:src="@{/img/common/icon_ji.gif}">---></li>
                        <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif}"><img src="/img2/btn_zzim.gif">---></li>
                        <a th:href="@{/product/detail?code=W_A0703L&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0703L/13206615297_thum260_130.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                            <li class="ch_text">[<b>스파인웍스</b>]   <br>얼짱? 이제는 허리짱~!</li>
                            <li class="price_01"><span class="te_en">75,000 원</span></li>
                            <li class="price_02"><span class="te_en">69,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img src="/img2/icon_cu.gif">---></li></a>
                    </ul>
                </div>

            </td>
            <td width="33px"></td>
            <td>
                <div class="main_ch">
                    <ul>
                        <li class="ch_icon"><!--<img th:src="@{/img/common/icon_ji.gif}">---></li>
                        <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif}"><img src="/img2/btn_zzim.gif">---></li>
                        <a th:href="@{/product/detail?code=W_A0501L&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0501L/13201343147_thum260_127.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                            <li class="ch_text">[<b>노라인 줄넘기</b>]   <br>어디서나 간편하게 줄넘기를~</li>
                            <li class="price_01"><span class="te_en">29,900 원</span></li>
                            <li class="price_02"><span class="te_en">28,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img src="/img2/icon_cu.gif">---></li></a>
                    </ul>
                </div>

            </td>
            <td width="33px"></td>
            <td>
                <div class="main_ch">
                    <ul>
                        <li class="ch_icon"><!--<img th:src="@{/img/common/icon_ji.gif}">---></li>
                        <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif}"><img src="/img2/btn_zzim.gif">---></li>
                        <a th:href="@{/product/detail?code=W_A0105L&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0105L/13179788563_bal.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                            <li class="ch_text">[<b>발두리</b>]   <br>하루의 피로를 한방에..</li>
                            <li class="price_01"><span class="te_en">128,000 원</span></li>
                            <li class="price_02"><span class="te_en">79,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img src="/img2/icon_cu.gif">---></li></a>
                    </ul>
                </div>

        <tr><td height="20"></td></tr>

        <tr><td>
            <div class="main_ch">
                <ul>
                    <li class="ch_icon"><!--<img th:src="@{/img/common/icon_ji.gif}">---></li>
                    <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif}"><img src="/img2/btn_zzim.gif">---></li>
                    <a th:href="@{/product/detail?code=W_A0601L&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0601L/13201347562_thum260_124.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                        <li class="ch_text">[<b>만수무강 원적외선 족온기</b>]   <br>발이 건강해야 몸이 건강합니다.</li>
                        <li class="price_01"><span class="te_en">128,000 원</span></li>
                        <li class="price_02"><span class="te_en">120,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img src="/img2/icon_cu.gif">---></li></a>
                </ul>
            </div>

        </td>
            <td width="33px"></td>
            <td>
                <div class="main_ch">
                    <ul>
                        <li class="ch_icon"><!--<img th:src="@{/img/common/icon_ji.gif}">---></li>
                        <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif}"><img src="/img2/btn_zzim.gif">---></li>
                        <a th:href="@{/product/detail?code=W_A0104L&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0104L/13179775437_joy.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                            <li class="ch_text">[<b>조이퀸</b>]   <br>복부지방 고민은 그만!!!!</li>
                            <li class="price_01"><span class="te_en">79,000 원</span></li>
                            <li class="price_02"><span class="te_en">59,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img src="/img2/icon_cu.gif">---></li></a>
                    </ul>
                </div>

            </td>
            <td width="33px"></td>
            <td>
                <div class="main_ch">
                    <ul>
                        <li class="ch_icon"><!--<img th:src="@{/img/common/icon_ji.gif}">---></li>
                        <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif}"><img src="/img2/btn_zzim.gif">---></li>
                        <a th:href="@{/product/detail?code=W_A0102L&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0102L/13179772778_nose.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                            <li class="ch_text">[<b>노즈컷</b>]   <br>인기남의 필수품</li>
                            <li class="price_01"><span class="te_en">35,000 원</span></li>
                            <li class="price_02"><span class="te_en">19,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img src="/img2/icon_cu.gif">---></li></a>
                    </ul>
                </div>

            </td>
            <td width="33px"></td>
            <td>
                <div class="main_ch">
                    <ul>
                        <li class="ch_icon"><!--<img th:src="@{/img/common/icon_ji.gif}">---></li>
                        <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif}"><img src="/img2/btn_zzim.gif">---></li>
                        <a th:href="@{/product/detail?code=W_A0101L&Cat_Content=}"class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0101L/13179773362_cossen.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                            <li class="ch_text">[<b>코쎈S</b>]   <br>비염 이젠 안녕~</li>
                            <li class="price_01"><span class="te_en">69,000 원</span></li>
                            <li class="price_02"><span class="te_en">49,000</span>원<img th:src="@{/img/common/icon_mu.gif}" style="margin-left:10px;margin-right:3px;"><!--<img src="/img2/icon_cu.gif">---></li></a>
                    </ul>
                </div>

        <tr><td height="20"></td></tr>

        </td></tr>
        <tr><td height="20px;"></td></tr>
        <tr><td height="1px;" bgcolor="#cccccc;" colspan="8"></td></tr>
        <tr><td height="30px;"></td></tr>
    </table>
</th:block>