<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="Hong_P">
    <div class="spacial_03">
        <div class="spa_tit_03"><img th:src="@{/img/common/spa_03.gif}"></div>
        <div class="spacial_box_02">
            <div class="inbox">
                <div style=" float:left;">
                    <div class="main_ch">
                        <ul>
                            <li class="ch_icon"><img th:src="@{/img/common/icon_spa31.png}"></li>
                            <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                            <a th:href="@{/product/detail?code=W_A2202N&Cat_Content=}" class="list"><li class="ch_img"><img th:src="@{/img/product/W_A2202N/13208297466_thum260_133.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                                <li class="ch_text">[<b>금산 홍삼액 으뜸</b>]  </li>
                                <li class="price_02"><span class="te_en">88,000 원</span></li>
                                <a th:href="@{/product/detail?code=W_A2202N&Cat_Content=}"><li class="reply_03"><img th:src="@{/img/common/star_5.png}" align="absmiddle"><img th:src="@{/img/common/icon_pen.png}" style="margin-left:3px;" align="absmiddle"><span class="te_en sz_11">2</span>건</li></a>
                        </ul>
                    </div>
                </div>


                <div style=" float:left;padding-left:15px; ">
                    <div class="main_ch">
                        <ul>
                            <li class="ch_icon"><img th:src="@{/img/common/icon_spa32.png}"></li>
                            <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                            <a th:href="@{/product/detail?code=W_A2201N&Cat_Content=}" class="list"><li class="ch_img"><img th:src="@{/img/product/W_A2201N/13208291783_thum260_132.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                                <li class="ch_text">[<b>금산 홍삼액</b>]  </li>
                                <li class="price_02"><span class="te_en">62,000 원</span></li>
                                <a th:href="@{/product/detail?code=W_A2201N&Cat_Content=}"><li class="reply_03"><img th:src="@{/img/common/star_5.png}" align="absmiddle"><img th:src="@{/img/common/icon_pen.png}" style="margin-left:3px;" align="absmiddle"><span class="te_en sz_11">2</span>건</li></a>
                        </ul>
                    </div>
                </div>


                <div style=" float:left;padding-left:15px; ">
                    <div class="main_ch">
                        <ul>
                            <li class="ch_icon"><img th:src="@{/img/common/icon_spa33.png}"></li>
                            <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                            <a th:href="@{/product/detail?code=W_A2203N&Cat_Content=}" class="list"><li class="ch_img"><img th:src="@{/img/product/W_A2203N/13208300745_thum260_134.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                                <li class="ch_text">[<b>금산 홍삼정</b>]  </li>
                                <li class="price_02"><span class="te_en">60,000 원</span></li>
                                <a th:href="@{/product/detail?code=W_A2203N&Cat_Content=}"><li class="reply_03"><img th:src="@{/img/common/star_5.png}" align="absmiddle"><img th:src="@{/img/common/icon_pen.png}" style="margin-left:3px;" align="absmiddle"><span class="te_en sz_11">2</span>건</li></a>
                        </ul>
                    </div>
                </div>
                <div style=" float:left;padding-left:15px; ">
                    <div class="main_ch">
                        <ul>
                            <li class="ch_icon"><img th:src="@{/img/common/icon_spa34.png}"></li>
                            <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                            <a th:href="@{/product/detail?code=W_A2204N&Cat_Content=}" class="list"><li class="ch_img"><img th:src="@{/img/product/W_A2204N/13208306724_thum260_135.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                                <li class="ch_text">[<b>금산 흑삼액</b>]  </li>
                                <li class="price_02"><span class="te_en">80,000 원</span></li>
                                <a th:href="@{/product/detail?code=W_A2204N&Cat_Content=}"><li class="reply_03"><img th:src="@{/img/common/star_5.png}" align="absmiddle"><img th:src="@{/img/common/icon_pen.png}" style="margin-left:3px;" align="absmiddle"><span class="te_en sz_11">2</span>건</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>