<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="MD_main">
<table cellspacing="0"cellpadding="0" border="0">
    <tr>

        <td style="width:370px;height:150px;"><a th:href="@{/board/ev_v?page=1&set_page=10&no=60}" ><img th:src="@{/img/adver/MD_Event/1324882136_main_banner02_05.jpg}" width='370' height='150' ></a></td>
        <td style="width:370px;height:150px;"><a th:href="@{/product/detail?code=wisefood_licoverS&Cat_Content=Best10}" ><img th:src="@{/img/adver/MD_Event/1324952388_main_banner02_01.jpg}" width='370' height='150' ></a></td>
    </tr>
</table>
</th:block>