<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="Skin_P">
    <div class="spacial_01">
        <div class="spa_tit_01"><img th:src="@{/img/common/spa_01.gif}"></div>
        <div class="spacial_box_01">
            <div class="inbox">
                <div style=" float:left;">
                    <div class="main_ch">
                        <ul>
                            <li class="ch_icon"><img th:src="@{/img/common/icon_spa11.png}"></li>
                            <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                            <a th:href="@{/product/detail?code=W_A2419S&Cat_Content=}" class="list"><li class="ch_img"><img th:src="@{/img/product/W_A2419S/13215117535_thum260_171.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                                <li class="ch_text">[<b>바디로션</b>]  </li>
                                <li class="price_02"><span class="te_en">31,000 원</span></li>
                                <a th:href="@{/product/detail?code=W_A2419S&Cat_Content=}"><li class="reply_03"><img th:src="@{/img/common/star_5.png}" align="absmiddle"><img th:src="@{/img/common/icon_pen.png}" style="margin-left:3px;" align="absmiddle"><span class="te_en sz_11">2</span>건</li></a>
                        </ul>
                    </div>
                </div>
                <div style=" float:left;padding-left:15px; ">
                    <div class="main_ch">
                        <ul>
                            <li class="ch_icon"><img th:src="@{/img/common/icon_spa12.png}"></li>
                            <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                            <a th:href="@{/product/detail?code=W_A2104S&Cat_Content=}" class="list"><li class="ch_img"><img th:src="@{/img/product/W_A2104S/13201343921_thum260_121.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                                <li class="ch_text">[<b>아토라떼 크림</b>]  </li>
                                <li class="price_02"><span class="te_en">35,000 원</span></li>
                                <a th:href="@{/product/detail?code=W_A2104S&Cat_Content=}"><li class="reply_03"><img th:src="@{/img/common/star_5.png}" align="absmiddle"><img th:src="@{/img/common/icon_pen.png}" style="margin-left:3px;" align="absmiddle"><span class="te_en sz_11">1</span>건</li></a>
                        </ul>
                    </div>
                </div>
                <div style=" float:left;padding-left:15px; ">
                    <div class="main_ch">
                        <ul>
                            <li class="ch_icon"><img th:src="@{/img/common/icon_spa13.png}"></li>
                            <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                            <a th:href="@{/product/detail?code=W_A1801H&Cat_Content=}" class="list"><li class="ch_img"><img th:src="@{/img/product/W_A1801H/13201347029_thum260_123.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                                <li class="ch_text">[<b>Q바이트플라센타</b>]  </li>
                                <li class="price_02"><span class="te_en">126,000 원</span></li>
                                <a th:href="@{/product/detail?code=W_A1801H&Cat_Content=}"><li class="reply_03"><img th:src="@{/img/common/star_5.png}" align="absmiddle"><img th:src="@{/img/common/icon_pen.png}" style="margin-left:3px;" align="absmiddle"><span class="te_en sz_11">11</span>건</li></a>
                        </ul>
                    </div>
                </div>
                <div style=" float:left;padding-left:15px; ">
                    <div class="main_ch">
                        <ul>
                            <li class="ch_icon"><img th:src="@{/img/common/icon_spa14.png}"></li>
                            <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                            <a th:href="@{/product/detail?code=W_A0815S&Cat_Content=}" class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0815S/thum260_17.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                                <li class="ch_text">[<b>SIS 아토 클리닉 솝</b>]  </li>
                                <li class="price_02"><span class="te_en">15,000 원</span></li>
                                <a th:href="@{/product/detail?code=W_A0815S&Cat_Content=}"><li class="reply_03"><img th:src="@{/img/common/star_5.png}" align="absmiddle"><img th:src="@{/img/common/icon_pen.png}" style="margin-left:3px;" align="absmiddle"><span class="te_en sz_11">7</span>건</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>