<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="TG_Event">
<table cellspacing="0"cellpadding="0" style="background:url(/img/common/event_bg.gif) repeat-x;">
    <tr>
        <td><img th:src="@{/img/common/tit_event.gif}"></td>
        <td style="padding-top:1px;padding-bottom:1px;"><a href="/product/detail?code=W_A1701N&Cat_Content=" ><img th:src="@{/img/adver/TG_Event/1320715113_1317976936_b1.gif}" width='195px' height='145px' ></a></td>
        <td width="1px"><img th:src="@{/img/common/event_line.gif}"></td>
        <td style="padding-top:1px;padding-bottom:1px;"><a href="/event/ev_v_01.php?page=1&set_page=10&no=56" ><img th:src="@{/img/adver/TG_Event/1322117427_main_banner04.gif}" width='195px' height='145px' ></a></td>
        <td width="1px"><img th:src="@{/img/common/event_line.gif}"></td>
        <td style="padding-top:1px;padding-bottom:1px;"><a href="/product/BigCategory.php?Cat_Content=W_Hongsam" ><img th:src="@{/img/adver/TG_Event/1321421572_main_banner03.gif}" width='195px' height='145px' ></a></td>
    </tr>
</table>
</th:block>