<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="Vita_P">

    <div class="spacial_02">
        <div class="spa_tit_02"><img th:src="@{/img/common/spa_02.gif}"></div>
        <div class="spacial_box_02">
            <div class="inbox">

                <div style=" float:left;">
                    <div class="main_ch">
                        <ul>
                            <li class="ch_icon"><img th:src="@{/img/common/icon_spa21.png}"></li>
                            <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                            <a th:href="@{/product/detail.php?code=W_A2304H&Cat_Content=}" class="list"><li class="ch_img"><img th:src="@{/img/product/W_A2304H/13209937201_thum260_139.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                                <li class="ch_text">[<b>TNG 멀티비타민</b>]  </li>
                                <li class="price_02"><span class="te_en">45,000 원</span></li>
                                <a th:href="@{/product/detail.php?code=W_A2304H&Cat_Content=}"><li class="reply_03"><img th:src="@{/img/common/star_5.png}" align="absmiddle"><img th:src="@{/img/common/icon_pen.png}" style="margin-left:3px;" align="absmiddle"><span class="te_en sz_11">1</span>건</li></a>
                        </ul>
                    </div>
                </div>


                <div style=" float:left;padding-left:15px; ">
                    <div class="main_ch">
                        <ul>
                            <li class="ch_icon"><img th:src="@{/img/common/icon_spa22.png}"></li>
                            <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                            <a th:href="@{/product/detail.php?code=W_A2310H&Cat_Content=}" class="list"><li class="ch_img"><img th:src="@{/img/product/W_A2310H/13209970295_thum260_145.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                                <li class="ch_text">[<b>팜그린멀티비타민꾸미</b>]  </li>
                                <li class="price_02"><span class="te_en">25,000 원</span></li>
                                <a th:href="@{/product/detail.php?code=W_A2310H&Cat_Content=}"><li class="reply_03"><img th:src="@{/img/common/star_0.png}" align="absmiddle"><img th:src="@{/img/common/icon_pen.png}" style="margin-left:3px;" align="absmiddle"><span class="te_en sz_11">0</span>건</li></a>
                        </ul>
                    </div>
                </div>


                <div style=" float:left;padding-left:15px; ">
                    <div class="main_ch">
                        <ul>
                            <li class="ch_icon"><img th:src="@{/img/common/icon_spa23.png}"></li>
                            <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                            <a th:href="@{/product/detail.php?code=W_A0526V&Cat_Content=}" class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0526V/thum260_07.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                                <li class="ch_text">[<b>멀티비타민 & 미네랄</b>]  </li>
                                <li class="price_02"><span class="te_en">39,000 원</span></li>
                                <a th:href="@{/product/detail.php?code=W_A0526V&Cat_Content=}"><li class="reply_03"><img th:src="@{/img/common/star_5.png}" align="absmiddle"><img th:src="@{/img/common/icon_pen.png}" style="margin-left:3px;" align="absmiddle"><span class="te_en sz_11">10</span>건</li></a>
                        </ul>
                    </div>
                </div>


                <div style=" float:left;padding-left:15px; ">
                    <div class="main_ch">
                        <ul>
                            <li class="ch_icon"><img th:src="@{/img/common/icon_spa24.png}"></li>
                            <li class="ch_btn"><!--<img th:src="@{/img/common/btn_plus.gif"><img th:src="@{/img/common/btn_zzim.gif">---></li>
                            <a th:href="@{/product/detail.php?code=W_A0818V&Cat_Content=}" class="list"><li class="ch_img"><img th:src="@{/img/product/W_A0818V/thum260_08.jpg}" style="border:1px solid #e2e3e5;width:158px; height: 160px;"></li>
                                <li class="ch_text">[<b>비타민과 미네랄</b>]  </li>
                                <li class="price_02"><span class="te_en">55,000 원</span></li>
                                <a th:href="@{/product/detail.php?code=W_A0818V&Cat_Content=}"><li class="reply_03"><img th:src="@{/img/common/star_5.png}" align="absmiddle"><img th:src="@{/img/common/icon_pen.png}" style="margin-left:3px;" align="absmiddle"><span class="te_en sz_11">6</span>건</li></a>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</th:block>