<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- top.html의 head 부분 include -->
<head th:replace="layout/header :: header"></head>
<div th:replace="layout/left :: left"></div>
<div id="con">
<div style="padding-bottom:20px;padding-top:20px;">
    <img th:src="@{/img/common/tit_32.gif}">
</div>
<div style="text-align:center;">
    <div style="width:740px;border:3px solid #b9cf43; background-color:#f7fae2;" >
        <div style="padding:15px;text-align:left;line-height:16px;font-size:12px;" class="te_do te_gray">
            <strong>제1조 목적 </strong></p>
            <p>이 약관은 (주)와이즈푸드 쇼핑몰(이하 “쇼핑몰”)이 제공하는 서비스의 이용조건 및 절차, 기타 필요한 사항을 규정함을 목적으로 합니다. </p>

            <p><strong>제2조 약관의 효력과 변경 </strong></p>
            <p>1. 이 약관은 그 내용을 쇼핑몰의 웹사이트에 공지하거나, 기타의 방법으로 이용자에게 통지함으로서 효력을 발생합니다. <br />
                2. 쇼핑몰은 합리적인 사유가 있을 경우 관련법을 위배하지 않는 범위에서 본 약관을 변경할 수 있으며, 변경된 약관은 1항과 같은 방법 공지 또는
                통지함으로써 효력을 발생합니다. <br />
                3. 회원은 변경된 약관에 동의하지 않으면 언제든지 서비스 이용을 중단하고 이용계약을 해지할 수 있습니다. <br />
                약관의 효력발생일 이후의 계속적인 서비스 이용은 약관의 변경사항에 동의한 것으로 간주됩니다. </p>

            <p><strong>제3조 약관 외 준칙 </strong></p>
            <p>이 약관에 명시되지 않은 사항이 기타 관련법령에 규정되어 있을 경우에는 그 규정에 따릅니다. </p>

            <p><strong>제4조 용어의 정의 </strong></p>
            <p>1. 회원: 서비스 이용에 관한 계약을 체결한 자 <br />
                2. 아이디(ID): 회원 식별과 서비스 이용을 위하여 회원이 선정하고 쇼핑몰이 승인하는 문자, 숫자, 또는 양자의 조합<br />
                3. 비밀번호: 회원의 본인확인과 비밀보호를 위하여 선정한 문자, 숫자 또는 양자의 조합<br />
                4. 이용계약: 서비스를 제공받기 위하여 이 약관으로 쇼핑몰과 회원간에 체결하는 계약<br />
                5. 계약해지: 쇼핑몰 또는 회원이 서비스 개통 후 이용계약을 해약하는 것 </p>
        </div></div><br>
    <div style="width:740px;border:3px solid #b9cf43; background-color:#f7fae2;" >
        <div style="padding:15px;text-align:left;line-height:16px;font-size:12px;" class="te_do te_gray">
            <font class="sz_15"><p><strong>제2장 회원 가입과 서비스 이용 </strong></font><br />
            <br />
            <strong>제1조 이용계약의 성립 </strong></p>
            <p>1. 이용계약은 이용자가 &quot;동의함&quot;버튼을 눌러 약관동의 절차를 거친 후 쇼핑몰이 제시한 소정의 가입신청 양식에 요구사항을 기재한 후<br />
                &quot;회원가입&quot;버튼을 눌러 이용을 신청하고, 쇼핑몰이 승낙을 함으로써 성립됩니다.</p>
            <p>2. 회원에 가입하여 서비스를 이용하고자 하는 희망자는 쇼핑몰에서 요청하는 개인 신상정보를 제공해야 합니다.</p>
            <p>3. 쇼핑몰이 이용 신청을 응낙하는 때에는 다음 각 호의 사항을 회원이 등록한 전자우편을 통하여 통지합니다.</p>
            <p>① 이용자 ID<br />
                ② 서비스 이용 개시일<br />
                ③기타 쇼핑몰이 필요하다고 인정하는 사항<br />
                4. 쇼핑몰은 다음 각 호에 해당하는 이용계약신청에 대하여는 승낙을 상당기간 보류할 수 있습니다.</p>
            <p>① 이용 계약 신청자 본인의 실명이 아닌 경우<br />
                ② 이용 계약 신청서의 내용을 허위로 기재하였거나 허위서류를 첨부하여 신청하였을 때<br />
                ③ 사회의 안녕, 질서 혹은 미풍양속을 저해할 목적으로 신청하였을 때<br />
                ④ 신청이용자가 3장 3조에 의거, 이용계약이 해지된 적이 있는 경우<br />
                5. 쇼핑몰은 다음 각 호에 해당하는 경우에는 그 사유가 해소될 때까지 이용 승낙을 보류할 수 있습니다.</p>
            <p>① 서비스 관련 설비의 용량이 부족한 경우<br />
                ② 기술상 또는 업무 수행 상 지장이 있는 경우<br />
                ③ 기타 회사가 필요하다고 인정되는 경우 </p>
            <p>&nbsp;</p>

            <p><strong>제2조 이용계약사항의 변경 </strong></p>
            <p>1. 회원은 이용 신청 시 기재한 사항이 변경되었을 경우에 온라인으로 수정합니다. (단, 이름, 아이디, 주민등록번호는 수정할 수 없습니다.)<br />
                2. 회원의 이용신청 시 기재사항의 미 변경 또는 허위변경으로 인하여 발생되는 문제에 대한 책임은 회원에게 있습니다. </p>
            <p>&nbsp;</p>

            <p><strong>제3조 서비스 이용 </strong></p>
            <p>1. 서비스는 쇼핑몰이 이용신청을 승낙한 때로부터 즉시 개시됩니다. <br />
                다만, 쇼핑몰의 업무상 또는 기술상의 장애로 인하여 서비스를 즉시 개시하지 못하는 경우 쇼핑몰은 웹사이트에 공지하거나,
                회원에게 이를 <br />
                지체없이 통지합니다. <br />
                2. 서비스 이용은 쇼핑몰의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴, 1일 24시간을 원칙으로 합니다. <br />
                다만, 쇼핑몰은 설비의 점검등 업무상 필요한 경우 또는 서비스 이용 폭주 등의 불가항력 사항으로인하여 서비스 이용에 지장이 있는 경우 예외적으로 서비스 이용의 전부 또는 일부에 대하여 제한 할 수 있습니다. <br />
                3. 회원에 가입한 후라도 일부 서비스 이용 시 광고주의 요구에 따라 이용자의 연령에 따른 서비스 이용을 제한할 수 있습니다.<br />
                4.쇼핑몰은 다음의 각 호에 해당하는 경우 서비스의 제공을 중지할 수 있습니다. </p>
            <p>&nbsp;</p>

            <p><strong>제4조 이용자의 게시물 </strong></p>
            <p>쇼핑몰은 이용자가 게시하거나 등록하는 서비스 내의 내용물이 다음 각 사항에 해당된다고 판단되는 경우에 사전 통지 없이 삭제할 수 있습니다.<br />
                1. 다른 이용자 또는 제 3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우<br />
                2. 공공질서 및 미풍양속에 위반되는 내용인 경우<br />
                3. 범죄적 행위에 결부된다고 인정되는 내용일 경우<br />
                4. 제 3자의 저작권 등 기타권리를 침해하는 내용인 경우<br />
                5.기타 관계 법령이나 회사에서 정한 규정에 위배되는 경우 </p>
        </div></div><br>
    <div style="width:740px;border:3px solid #b9cf43; background-color:#f7fae2;" >
        <div style="padding:15px;text-align:left;line-height:16px;font-size:12px;" class="te_do te_gray">
            <font class="sz_15"><p><strong>제3장 서비스와 관련한 권리와 의무관계</font> <br />
            제1조 장개인정보 보호정책청 </strong></p>
            <p>1. 쇼핑몰은 서비스와 관련하여 얻은 회원의 개인 신상 정보를 본인의 승낙 없이 타인에게 누설, 배포하여서는 아니 되며, 서비스 관련 업무이외의 상업적 목적으로 사용할 수 없습니다. 다만, 다음 각 호에 해당하는 경우에는 그러하지 아니합니다.</p>
            <p>① 관계법령에 의하여 수사상의 목적으로 관계기관으로부터 요구받은 경우<br />
                ② 정보통신 윤리위원회의 요청이 있는 경우<br />
                ③ 기타 관계법령에 의한 경우<br />
                2. 쇼핑몰은 1항의 범위 내에서 광고 등과 같은 쇼핑몰의 업무와 관련하여 회원전체 또는 일부의 개인정보에 관한 통계자료를 작성하여 이를 사용할 수 있고, 서비스를 통하여 회원의 컴퓨터에 쿠키를 전송할 수 있습니다. </p>
            <p>이 경우 회원은 쿠키의 수신을 거부하거나 쿠키의 수신에 대하여경고하도록 사용하는 컴퓨터의 브라우저의 설정을 변경할 수 있습니다.</p>
            <p>3. 회원은 언제든지 자신의 개인정보를 열람할 수 있으며, 오류를 수정할수 있습니다.</p>
            <p>4. 쇼핑몰의 개인정보 관리 책임자를 비롯한 개인정보보호에 관한 기타 사항은 별도로 정한 &quot;개인정보보호정책&quot;에 기재하여 공지합니다. </p>
            <p>&nbsp;</p>
            <p><strong>제2조 쇼핑몰의 의무 </strong></p>
            <p>1. 쇼핑몰은 특별한 사정이 없는 한 이용자의 신청 즉시 서비스를 이용할수 있도록 합니다.<br />
                2. 쇼핑몰은 이 약관에서 정한 바에 따라 계속적, 안정적으로 서비스를 제공할 의무가 있습니다.<br />
                3. 쇼핑몰은 서비스에 관련된 설비를 항상 운용할 수 있는 상태로 유지, 보수하고, 장애가 발생하는 경우 지체없이 이를 수리, 복구할 수 있도록최선의 노력을 다하여야 합니다. <br />
                4. 쇼핑몰은 회원의 신용정보를 포함한 개인신상정보의 보안에 대하여 기술적 안전 조치를 강구하고 관리에 만전을 기함으로써 회원의 개인정보 보안에 최선을 다해야 합니다. <br />
                5. 쇼핑몰은 회원으로부터 제기되는 의견이나 불만이 정당하다고 인정할 경우에는 즉시 처리하여야 합니다. 다만, 즉시 처리가 곤란한 경우에는회원에게 그 사유와 처리일정을 통보하여야 합니다. </p>
            <p>&nbsp;</p>
            <p><strong>제3조 회원의 의무 </strong></p>
            <p>1.회원은 관계법령, 이 약관의 규정 등 쇼핑몰이 통지하는 사항을 준수하여야 하며,기타 회사의 업무에 방해가 되는 행위를 하여서는 안됩니다.</p>
            <p>2. 아이디와 비밀 번호에 관한 모든 관리의 책임은 이용자에게 있습니다.회원에게 부여된 아이디 및 비밀번호의 관리소홀, 부정사용에 의하여 발생하는 모든 결과에 대한 책임은 회원에게 있습니다.</p>
            <p>회원은 자신의 아이디 또는 비밀번호가 부정하게 사용된 경우 반드시 회사에 그 사실을 통보해야 합니다.</p>
            <p>3. 회원은 쇼핑몰의 사전동의 없이 서비스를 이용하여 어떠한 영리행위도할 수 없습니다. 이를 위반한 영리행위의 결과에 대해서는 쇼핑몰은 책임을 지지 않으며, 이와 같은 영업행위의 결과로 쇼핑몰에 손해가 발생한 경우, 회원은 쇼핑몰에 대해서 손해배상의 의무를 집니다.</p>
            <p>4. 회원은 서비스를 이용하여 얻은 정보를 쇼핑몰의 사전 승낙 없이 복사,복제, 변경, 번역, 출판, 방송 기타의 방법으로 사용하거나 이를 타인에게 제공할 수 없습니다.</p>
            <p>5. 회원은 서비스를 이용함에 있어 다음 각 호의 행위를 하여서는 안됩니다.<br />
                ① 다른 회원의 아이디를 도용하는 행위<br />
                ② 가명, 차명등 회원의 실제 성명과 다른 명의에 의해 이용신청을 하는 행위<br />
                ③ 쇼핑몰 또는 타인의 지적재산권을 침해하는 행위<br />
                ④ 타인의 명예를 훼손하거나 사생활을 침해하는 행위<br />
                ⑤ 컴퓨터 소프트웨어, 하드웨어, 전기통신 장비의 정상적인 가동을방해, 파괴할 목적으로 고안된 소프트웨어 바이러스를 유포시키는 행위<br />
                ⑥ 다른 이용자에 대한 개인정보를 그 동의 없이 수집, 저장, 공개하는 행위<br />
                ⑦ 다량의 정보를 전송하거나 동일한 또는 유사한 내용의 정보를 지속적으로 게시하여 서비스의 안정적인 운영을 방해하는 행위<br />
                ⑧ 쇼핑몰의 정상적인 경영 또는 업무를 방해하거나 서비스의 운영을 방해하는 행위<br />
                ⑨ 게시판에 욕설, 비방 또는 음란한 내용을 표현하는 행위<br />
                ⑩ 범죄행위를 목적으로 하거나, 기타 범죄행위와 관련된 행위<br />
                ⑪ 기타 미풍양속을 해하거나 관련법령 및 이 약관을 포함하여 쇼핑몰이 정한 이용조건에 위배되는 행위<br />
            </p>
            <p><strong>제4조 지적 재산권 </strong></p>
            <p>1.쇼핑몰이 작성하여 제공하는 서비스에 관한 저작권 및 기타 지적재산권은쇼핑몰에 속합니다. 회원은 쇼핑몰이 제공하는 서비스를 쇼핑몰의동의 없이 영리를 목적으로 사용할 수 없습니다.<br />
                2.회원이 게시한 게시물에 대한 권리와 책임은 게시한 회원에게 있습니다.<br />
                쇼핑몰은 회원이 게시한 게시물에 대하여 서비스 내에서의 게재권을 가지며, 게시한 회원의 동의 없이 이를 영리적인 목적으로 사용하지 않습니다. </p>
            <p><strong>제5조 구매및 배송 </strong></p>
            <p>1.구매신청은 쇼핑몰에서 제공하는 주문서 양식의 작성에 의하여 구매를 신청할 수 있습니다. </p>
            <p>① on-line 주문서 (web상에 기재된 양식에 의거)를 통한 구매신청<br />
                ② off-line 주문서 (쇼핑몰에서 작성하여 제공하는 fax주문서 양식(homepage참조)에 의거된 fax주문서 접수)<br />
                ③ 이 약관에 동의한다는 표시(예, '주문하기'-마우스 클릭) <br />
                2.계약의 성립은 쇼핑몰에서 제5조와 같은 구매신청에 대하여 다음 각 호에 해당하지 않는 한 승낙합니다. </p>
            <p>① 신청 내용에 허위, 기재누락이 있는 경우<br />
                ② 기타 구매신청에 승낙하는 것이 쇼핑몰의 기술상 현저히 지장이 있다고 쇼핑몰이 판단하는 경우 <br />
                ③ 이 약관을 포함하여 쇼핑몰이 정한 이용조건에 위배되는 경우<br />
                3.지불 방법은 쇼핑몰에 게재된 온라인 무통장 입금으로만 결재할 수 있습니다. </p>
            <p><strong>4.수신확인통지·구매신청 변경 및 취소 </strong></p>
            <p>① 쇼핑몰은 이용자의 구매신청이 있는 경우 이용자에게 수신확인을 합니다. <br />
                ② 수신확인을 받은 이용자는 의사표시의 불일치 등이 있는 경우에는 수신확인 후 즉시 구매신청 변경 및 취소를 요청할 수 있습니다. <br />
                ③ 쇼핑몰은 구매신청 후 이용자의 구매신청 변경 및 취소 요청이 있는 때에는 그 요청에 따라 처리합니다. (단, 초안 작업이 들어가면 취소가 불가능합니다.)<br />
                5.배송은 쇼핑몰에서 이용자가 구매한 재화에 대해 배송수단, 배송비용 부담자, 수단별 배송기간 등을 명시합니다. 만약 쇼핑몰의 고의·과실로 약정 배송 기간을 초과한 경우에는 그로 인한 이용자의 손해를 배상합니다.</p>
            <p>6.환급, 반품은 쇼핑몰에서 이용자가 구매 신청한 재화의 품절 등의 사유로 재화의 인도 할 수 없을 때에는 지체없이 그 사유를 이용자에게 통지하고, 사전에 재화 대금을 받은 경우에는 대금을 받은 날부터 3일 이내에, 그렇지 않은 경우에는 그 사유 발생 일로부터 3일 이내에 계약해제 및 환급절차를 취합니다. </p>
            <p>7.다음 각 호의 경우에는 쇼핑몰은 배송된 재화일지라도 재화를 반품 받은 다음 영업일 이내에 이용자의 요구에 따라 즉시 환급, 반품 및 교환 조치를 합니다. 다만 그 요구기한은 배송된 날로부터 20일 이내로 합니다. </p>
            <p>① 배송된 재화가 주문내용과 상이하거나 쇼핑몰이 제공한 정보와 상이할 경우 <br />
                ② 배송된 재화가 파손, 손상되었거나 오염되었을 경우 <br />
                ③ 재화가 광고에 표시된 배송기간보다 늦게 배송된 경우 <br />
                ④ 방문판매등에관한법률 제18조에 의하여 광고에 표시하여야 할 사항을 표시하지 아니한 상태에서 이용자의 청약이 이루어진 경우 <br />
            </p>
        </div></div><br>
    <div style="width:740px;border:3px solid #b9cf43; background-color:#f7fae2;" >
        <div style="padding:15px;text-align:left;line-height:16px;font-size:12px;" class="te_do te_gray">
            <font class="sz_15"><p><strong>제4장 계약 해지 및 서비스 이용제한</font> <br />
            제 1조 서비스 이용제한 및 해제의 절차 </strong></p>
            <p>1.쇼핑몰은 회원이 3장 3조의 의무를 위반한 경우 회원의 서비스 이용을 일부 또는 전부 제한할 수 있습니다.<br />
                2. 쇼핑몰은 위 1항의 규정에 의하여 이용제한을 하고자 하는 경우 그 사유, 일시 및 기간을 정해 전자우편 또는 전화 등의 방법에 의하여해당 회원 또는 대리인에게 통지하여야 합니다. 다만, 회사가 긴급하게 이용을 정지할 필요가 있다고 인정하는 경우에는 그러하지 아니합니다.<br />
                3. 제1항의 규정에 의하여 이용정지의 통지를 받은 회원 또는 그 대리인은그 이용정지의 통지에 대하여 이의가 있을 때에는 이의신청을 할 수 있습니다. <br />
                4. 쇼핑몰은 제3항의 규정에 의한 이의신청에 대하여 그 확인을 위한 기간까지 이용정지를 일시 연기할 수 있으며, 그 결과를 이용자 또는그 대리인에게 통지합니다.<br />
                5. 쇼핑몰은 이용정지 기간 중에 그 이용정지 사유가 해소된 것이 확인된 경우에는 이용정지조치를 즉시 해제합니다.<br />
            </p>
            <p>&nbsp;</p>
            <p><strong>제 2조 서비스 계약의 해지 </strong></p>
            <p>1. 이용자가 이용 계약을 해지 하고자 하는 때에는 쇼핑몰 웹사이트의 &quot;개인정보관리&quot;메뉴의 탈퇴신청에서 탈퇴 신청을 하여야 합니다. 쇼핑몰은회원의 탈퇴 신청을 빠른 시간 내에 처리하여야 합니다.<br />
                2. 쇼핑몰은 회원이 3조 3항의 의무를 위반한 경우 사전 통지를 거쳐 이용계약을 해지하고 회원탈퇴 처리할 수 있습니다. 다만, 그 내용이 중하여 쇼핑몰의 정상적인 경영이나 업무에 지장을 주거나 서비스운영에 불편을 초래하는 경우 사전통지 없이 계약을 해지하고 탈퇴처리할 수 있습니다.<br />
                3. 쇼핑몰은 2항에 의해 탈퇴 처리된 회원이 다시 이용신청을 하는 경우,그에 대한 승낙을 거절하거나 일정기간 그 승낙을 유보할 수 있습니다.<br />
                4. 회원 탈퇴하실 경우 해당 회원의 모든 자료는 관련법규의 규정에 따라 보존의 의무가 없는 한 즉시 파기되며 오프라인 상에 보존된 서류도 동일한 방침에 의하여 처리됩니다. <br />
                단, 3조3항의 의무를 위반하여탈퇴 처리된 회원의 재 가입 요청 시 확인을 위하여 필요한 정보는 삭제하지 않을 수도 있습니다.<br />
            </p>
        </div></div><br>
    <div style="width:740px;border:3px solid #b9cf43; background-color:#f7fae2;" >
        <div style="padding:15px;text-align:left;line-height:16px;font-size:12px;" class="te_do te_gray">
            <font class="sz_15"><p><strong>제5장 손해배상 및 면책</font> <br />
            제1조 손해배상 </strong></p>
            <p>1. 쇼핑몰은 무료로 제공되는 서비스와 관련하여 회원에게 어떠한 손해가 발생하더라도 동 손해가 쇼핑몰의 중대한 과실에 의한 경우를 제외하고이에 대하여 책임을 부담하지 아니합니다.<br />
                2. 회원이 이 약관의 규정을 위반하여 쇼핑몰 또는 제 3자에게 손해가 발생하는 경우, 이 약관을 위반한 회원은 쇼핑몰 및 제3자에 발생한 손해를 배상할 책임이 있습니다.<br />
            </p>
            <p>&nbsp;</p>
            <p><strong>제2조 면책 </strong></p>
            <p>1.쇼핑몰은 전시, 사변 등 국가비상사태, 천재지변, 기간통신사업자의 서비스 제공 중단, 한전으로부터의 전력공급 중단, 해커의 침입, 컴퓨터 바이러스등 이와 유사한 사정으로 인한 쇼핑몰 시스템의 작동불능 기타쇼핑몰의 귀책사유 없이 쇼핑몰이 서비스를 제공할 수 없는 경우 쇼핑몰은 그로 인한 책임을 면합니다.<br />
                2.쇼핑몰은 회원이 서비스에 게시한 정보, 자료, 사실의 정확성, 신뢰성등 그 내용에 관하여는 책임을 부담하지 않습니다. 3. 회원은 자기의 책임아래 서비스를 이용하며, 서비스에 제공된 자료에대한 취사선택 또는 이용으로 손해가 발생하거나 어떠한 불이익이 발생하더라도 쇼핑몰은 책임을 부담하지 않습니다.<br />
                4. 쇼핑몰은 회원상호간 또는 회원과 제3자 상호간의 서비스를 매개로 하여 물품거래 등과 관련하여 어떠한 책임도 부담하지 아니하며, 그들 사이에 발생한 분쟁에 관여할 의무가 없으며, 이로 인한 어떠한 손해도 배상할 책임이 없습니다.<br />
            </p>
            <p>&nbsp;</p>
            <p><strong>제3조 분쟁의 해결 </strong></p>
            <p>1.쇼핑몰과 회원은 서비스와 관련하여 발생한 분쟁을 원만하게 해결하기 위하여 필요한 모든 노력을 하여야 합니다.<br />
                2.제1항의 규정에도 불구하고 쇼핑몰과 회원사이에 소송이 제기될 경우,소송은 쇼핑몰의 본사 소재지를 관할하는 법원을 관할 법원으로 합니다. </p>
        </div></div><br>
    <div style="width:740px;border:3px solid #b9cf43; background-color:#f7fae2;" >
        <div style="padding:15px;text-align:left;line-height:16px;font-size:12px;" class="te_do te_gray">
            <p>* 부칙 : 제1조이 약관은 2005년 6월 1일부터 시행합니다. <br />
        </div>
    </div>
</div>



</div>

<div th:replace="layout/bottom :: bottom"></div>
</body>
</html>