<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <body style="margin:0px;padding:0px border:0px;background-color:white;">
    <div style="font-family:doutm,돋움;margin:20px;line-height:16px;color:#bababa;font-size:12px;background-color:white;">
        <font style="font-size:14px;"><strong>개인정보 수집 및 이용목적 <br /></strong> </font><br />
        회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다. <br /><br />

        <b>가. 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산</b><br />

        서비스 및 콘텐츠 제공, 물품배송 또는 청구서 등 발송, 본인인증, 구매 및 요금 결제, 요금추심 <br /><br />

        <b>나. 회원관리</b> <br />
        회원제 서비스 이용에 따른 본인확인, 개인식별, 불량회원의 부정이용 방지와 비인가 사용방지, 가입의사 확인, 가입 및 가입횟수 제한,<br />
        만14세 미만 아동의 개인정보 수집 시 법정대리인 동의여부 확인, 추후 법정대리인 본인확인, 분쟁조정을 위한 기록 보존, 불만처리 등 민원처리, 고지사항 전달<br /><br />

        <b>다. 신규서비스 개발 및 마케팅, 광고</b> <br />
        신규서비스(제품) 개발 및 특화, 인구통계학적 특성에 따른 서비스 제공 및 광고 게재, 접속빈도 파악, 회원의 서비스 이용에 대한 통계, 이벤트 등 광고성 정보 전달<br /><br /><br />
    </div>
    </body>
</div>
</html>