<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <body style="margin:0px;padding:0px border:0px;background-color:white;">
    <div style="font-family:doutm,돋움;margin:20px;line-height:16px;color:#bababa;font-size:12px;background-color:white;">
        <font style="font-size:14px;"><strong>와이즈푸드 개인정보취급방침 <br /></strong> </font><br />

        <b>수집하는 개인정보 항목 </b><br /><br />
        회사는 회원가입 및 서비스 신청, 고객상담 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br /><br />
        <b>가.회원가입 시 </b><br />
        <일반 회원가입 시> <br />
            - 이름, 주민등록번호(외국인의 경우 여권번호 또는 외국인등록번호), 아이디, 비밀번호, 이메일주소, 전화번호(휴대전화번호 또는 유선전화번호), 법정대리인 정보(만 14세 미만인 아동의 경우) <br />
            <b>나.제휴요청 시 </b><br />
            <제휴 요청 시> <br />
                - 이름,  이메일주소, 전화번호(휴대전화번호 또는 유선전화번호), 문의 내용을 수집하고 있습니다.<br />

                <b>다. 환불 시</b> <br />
                계좌정보(거래은행명, 계좌번호, 거래자 성명) <br />
                서비스 이용과정이나 사업 처리과정에서 아래와 같은 정보들이 생성되어 수집될 수 있습니다. <br />
    </div>
</div>
</body>
</html>