<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <body style="margin:0px;padding:0px border:0px;background-color:white;">
    <div style="font-family:doutm,돋움;margin:20px;line-height:16px;color:#bababa;font-size:12px;background-color:white;">
        <p><strong>제1장  총칙 </strong><br>
            <strong>제1조 (목적)</strong><br>
            이 약관은 (주)와이즈푸드 (이하&quot;회사&quot;라고 합니다)가 &ldquo;와이즈푸드&rdquo;인터넷사이트(http://www.wisefood.co.kr)를 통하여  제공하는 쇼핑몰 서비스(이하 &quot;서비스&quot;라고 합니다)와 관련하여 회사와 판매자, 회원간의 권리와 의무, 책임사항 및 회원의 서비스이용절차에 관한  사항을 규정함을 목적으로 합니다.<br>
            <strong>제2조 (약관의 명시, 효력 및 변경)</strong><br>
            <strong>가. </strong>회사는  이 약관을 서비스를 이용하고자 하는 자와 회원이 알 수 있도록 서비스가 제공되는 인터넷사이트  (http://www.wisefood.co.kr) 화면에 게시합니다. <br>
            <strong>나. </strong>회사가  이 약관을 개정하는 경우에는 개정된 약관의 적용일자 및 개정사유를 명시하여 그 적용일자 7일 이전부터  적용일자 전일까지 위 가항의 방법으로 공지합니다.<br>
            <strong>다. </strong>이  약관은 회사와 회원간에 성립되는 서비스이용계약의 기본약정입니다. 회사는 필요한 경우 특정 서비스에 관하여  적용될 사항(이하 &quot;개별약관&quot;이라고 합니다)을 정하여 미리 공지할 수 있습니다. 회원이 이러한 개별약관에 동의하고 특정 서비스를 이용하는 경우에는 개별약관이 우선적으로 적용되고, 이 약관은 보충적인 효력을 갖습니다. 개별약관의 변경에 관해서는  위 나항을 준용합니다.<br>
            <strong>라.</strong> 회원은 변경된 약관에 동의하지 않으면 언제든지 서비스 이용을 중단하고 이용계약을 해지할 수 있습니다. 약관의 효력발생일 이후의 계속적인 서비스 이용은 약관의 변경사항에 동의한 것으로 간주됩니다.<br>
            <strong>제3조 (관련법령과의 관계)</strong><br>
            <strong>가. </strong>이  약관 또는 개별약관에서 정하지 않은 사항은 전기통신사업법, 전자거래기본법, 정보통신망이용촉진 및 정보보호 등에 관한 법률, 전자상거래 등에서의  소비자보호에 관한 법률 등 관련 법령의 규정과 일반적인 상관례에 의합니다. <br>
            <strong>나. </strong>회원은  회사가 제공하는 서비스를 이용함에 있어서 전자상거래 등에서의 소비자보호에 관한법률(예시:공급서, 표시광고, 반품, 배송 등 통신판매에 관한 규정), 전자거래기본법(예시:소비자보호에 관한 규정), 소비자기본법(예시:사업자의 의무에 관한 규정),  표시광고의 공정화에 관한 법률(예시:물품상세설명에  관련한 표시, 기재사항), 정보통신망이용촉진 및 정보보호  등에 관한 법률(예시:개인정보보호에 관한 규정) 등 관련법령을 준수하여야 하며, 이 약관의 규정을 들어 관련법령  위반에 대한 면책을 주장할 수 없습니다.<br>
            <strong>제4조 (서비스의 종류)</strong><br>
            회사가 회원에게 제공하는 서비스는 다음과 같습니다.<br>
            <strong>가. </strong>서비스 : 회사가 인터넷사이트(http://www.wisefood.co.kr)를  통하여 회사가 제공하는 물품에 대한매매거래가 이루어질 수 있는 사이버 거래장소로 온라인으로 제공하는 서비스 및 관련 부가서비스 일체를 말합니다. <br>
            <strong>제5조 (용어의 정의)</strong><br>
            <strong>가. </strong>이  약관에서 사용하는 용어의 정의는 다음과 같습니다. <br>
            <strong>1) </strong>회원: 이 약관을 승인하고 회사와 서비스이용계약을 체결한 자를 말합니다. 구매자는  회원과 비회원으로 구분됩니다.<br>
            <strong>2) </strong>아이디(ID):회원의 식별과 서비스 이용을 위하여 회원이 설정하고 회사가 승인한 문자와 숫자의 조합을 말합니다.<br>
            <strong>3) </strong>비밀번호:회원의 동일성 확인과 회원정보의 보호를 위하여 회원이 설정하고 회사가 승인한 문자와 숫자의 조합을 말합니다.<br>
            <strong>4) </strong>판매자: 회사가 별도의 계약을 통해 지정한 외부업체로써 회사의 인터넷사이트에 물품 등록을 한 업체을 말합니다.<br>
            <strong>5) </strong>구매자: 물품을 구매하는 회원 및 비회원을 말합니다.<br>
            <strong>6) </strong>판매: 회사가 운영하는 사이트를 통해 구매자가 결제완료 또는 주문서 작성으로써 주문이 이루어지는 매매방식을 말합니다. <br>
            <strong>7) </strong>매매보호  서비스: 회사가 KCP대금결제서비스를 통하여 구매자물품거래의  안전을 위하여 물품대금의 입출금을 중개할 목적으로 마련한 절차를 말합니다.<br>
            <strong>8) </strong>마이페이지: 회사가 각 회원에 대한 판매정보, 구매정보, 회원정보 등 회원의 매매기록을 모아 신속하고 편리하게 이용하도록 하기 위하여 제공하는 서비스화면을 말합니다.<br>
            <strong>9) </strong>포인트: 물품구매액 또는 이벤트 당첨결과 등에 따라 회사가 회원에게 부여하고 회원이 적립하여 결제 용도에 사용할 수  있는 회사 전용의 사이버 혜택을 말합니다.<br>
            <strong>10) </strong>게시판: 회사가 제공하는 서비스에 대한 문의 내용 등을 회원이 게재할 수 있도록 회사가 제공하는 인터넷사이트(http://www.wisefood.co.kr) 상의 가상공간을 말합니다. </p>
        <p><strong>제2장  서비스이용계약 </strong><br>
            <strong>제7조 (서비스이용계약)</strong><br>
            <strong>가. </strong>회사가  제공하는 서비스에 관한 이용계약(이하 &quot;이용계약&quot;이라고 합니다)은 구매만을 목적으로 하는 경우와 판매를 목적으로  하는 경우로 구분되며 해당 서비스를 이용하고자 하는 자의 이용신청(회원가입신청)에 대하여 회사가 승낙함으로써 성립합니다. 회사는 이용승낙의 의사를  해당 서비스화면에 게시하거나, email 또는 기타 방법으로 이용신청자에게 통지합니다.<br>
            <strong>나. </strong>회원가입은  만 14세 이상의 개인이 할 수 있습니다. 이용신청자는 실명으로  가입신청을 하여야 하며, 실명이 아니거나 타인의 정보를 도용하여 회원으로 가입한 자는 회사가 제공하는  서비스를 이용할 수 없으며, 이용하여서도 안됩니다.<br>
            <strong>다. </strong>회원의  아이디(ID)는 실명 1인당 1개의 아이디를 사용하는 것을 원칙으로 합니다<br>
            <strong>라. </strong>개인회원이  이용계약 종료 후 재가입하는 경우에는 최종 이용 시에 사용한 아이디(ID)와 함께 동일한 아이디(ID) 사용하는 것을 원칙으로 합니다. 다만, 이 약관 제11조 ②, ③의  적용이 없는 회원의 경우에는 다른 아이디(ID)로 가입할 수 있습니다. <br>
            <strong>제8조 (이용신청)</strong><br>
            <strong>가. </strong>서비스를  이용하고자 하는 자는 아래 사항을 회사가 온라인으로 제공하는 가입신청양식에 따라 기재하여야 합니다. <br>
            <strong>1) </strong>회원  가입 필수기재항목 <br>
            ① 성명, ② 주민등록번호(외국인의  경우는 외국인등록번호), ③이동전화번호 ④ email 주소, ⑤ 아이디(ID), ⑥비밀번호,  ⑦주소, ⑧상세주소, ⑨연락처<br>
            <strong>제9조 (이용신청의 승낙)</strong><br>
            <strong>가. </strong>회사는  이용신청자가 제8조에서 정한 필수기재항목을 정확하게 기재하고 이 약관에 동의한 경우에는 이 약관에 규정된  실명확인절차를 거쳐 서비스의 이용을 승낙하는 것을 원칙으로 합니다. <br>
            <strong>나. </strong>회사는  회원가입신청의 경우 법령에 따라 이용 가능한 신용정보업자 또는 신용정보집중기관을 통하여 주민등록번호와 성명의 일치 여부를 확인함으로써 실명확인절차를  취합니다. 회사는 실명확인절차를 취할 수 없는 이용신청에 대해서는 신청자에게 증빙자료를 요청할 수 있습니다.<br>
            <strong>다. </strong>회사는  다음과 같은 사유가 있는 경우, 이용신청에 대한 승낙을 거부할 수 있습니다. </p>
        <ol>
            <li>만 14세 미만의 자가 이용신청을 하는 경우 </li>
            <li>회사의  실명확인절차에서 실명가입신청이 아님이 확인된 경우</li>
            <li>이미  가입된 회원과 이름 및 주민등록번호(또는 사업자등록번호, 법인등록번호)가 동일한 경우</li>
            <li>이  약관 제10조에 기하여 회사가 이용계약을 해지한 전(前)회원이 재이용신청을 하는 경우</li>
            <li>이  약관 제15조에 기하여 회사로부터 회원자격정지조치를 받은 회원이 이용정지 중에 이용계약을 임의해지하고  재이용신청을 하는 경우</li>
            <li>가입신청  시 기재하여야 할 필수기재항목에 허위사실을 기재한 경우</li>
            <li>기타  이 약관에 위배되거나 위법 또는 부당한 이용신청임이 확인된 경우</li>
        </ol>
        <p><strong>라. </strong>회사는  다음과 같은 사유가 있는 경우, 이용신청에 대한 승낙을 유보할 수 있습니다. 이 경우, 회사는 이용신청자에게 승낙유보의 사유, 승낙가능시기 또는 승낙에 필요한 추가요청정보 내지 자료 등 기타 승낙유보와 관련된 사항을 해당 서비스화면에  게시하거나 email을 통하여 통지합니다. <br>
            ① 서비스 관련 설비의 용량이 부족한 경우<br>
            ② 기술상 또는 업무 수행 상 지장이 있는 경우<br>
            ③ 기타 회사가 필요하다고 인정되는 경우<br>
            <strong>제10조 (이용계약의 종료) </strong><br>
            <strong>가. </strong>회원은  이 약관에서 정한 절차에 따라 이용계약을 해지할 수 있습니다.<br>
            <strong>나. 회원의  해지 </strong><br>
            <strong>1) </strong>회원은  언제든지 회사에게 해지의사를 통지함으로써 이용계약을 해지할 수 있습니다. 다만, 회원은 해지의사를 통지하기 전에 모든 구매 또는 판매중인 매매절차, 서비스(이벤트 및 포인트 포함)를 완료, 철회  또는 취소해야만 합니다. 이 경우 철회 또는 취소로 인한 불이익은 회원 본인이 부담하여야 합니다. <br>
            <strong>2) </strong>이용계약은  회원의 해지의사가 회사에 도달한 때에 종료됩니다.<br>
            <strong>3) </strong>본  항에 따라 해지를 한 회원은 이 약관이 정하는 회원가입절차와 관련조항에 따라 회원으로 다시 가입할 수 있습니다.  다만 회원이 중복참여가 제한된 판촉이벤트 중복 참여 등 부정한 목적으로 회원탈퇴 후 재가입 신청하는 경우 회사는 재가입을 일정기간  동안 제한할 수 있습니다. </p>
        <p><strong>제3장  회원정보의 보호 </strong><br>
            <strong>제11조 (회원정보의 수집과 보호) </strong><br>
            <strong>가. </strong>회사는  이용계약을 위하여 회원이 제공한 정보 외에도 수집목적 또는 이용목적을 밝혀 회원으로부터 필요한 정보를 수집할 수 있습니다. 이 경우, 회사는 회원으로부터 정보수집에 대한 동의를 받습니다. <br>
            <strong>나. </strong>회사가  정보수집을 위하여 회원의 동의를 받는 경우, 회사는 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공관련사항(제공받는  자, 제공목적, 제공정보의 내용)을 미리 명시하거나 고지합니다. 회원은 정보제공에 동의하더라도 언제든지  그 동의를 철회할 수 있습니다.<br>
            <strong>다. </strong>회원은  회사에게 정보를 제공하고자 하는 경우 사실대로 제공하여야 합니다. <br>
            <strong>라. </strong>회사는  아이디(ID) 등 서비스화면을 통하여 공개되는 정보를 제외하고는 회사가 수집한 회원정보를 정보수집 시에  밝힌 수집목적, 이용목적, 원활한 서비스의 제공 및 제공서비스의  확대 외의 용도로 사용하거나 당해 회원의 동의 없이 제3자에게 제공하지 않습니다. 다만, 다음의 경우는 예외로 합니다. </p>
        <ol>
            <li>배송업체  또는 판매자에게 배송업무에 필요한 최소한의 회원정보(성명, 주소, 연락처 등)를 알려 주는 경우</li>
            <li>법령이  회원정보의 이용과 제3자에 대한 정보제공을 허용하고 있는 경우</li>
            <li>매매가  성사된 때에 그 이행을 위하여 필요한 경우와 구매가 종료된 이후에도 A/S 등을 위하여 필요한 경우. 다만, 이 경우 회사는 해당 판매자와 구매자에 한하여 상대방 회원의  연락처 정보를 제공합니다.</li>
        </ol>
        <p>④ 판매 물품을 등록한 협력사에  신원정보를 법령이 정하는 바에 따라 제공하여야 하는 경우<br>
            <strong>마. </strong>회사의  개인정보 관리책임자 및 연락처는 인터넷사이트에서 별도로 공개하는 개인정보취급방침에서 공지합니다.<br>
            <strong>바. </strong>회원은  언제든지 자신에 관한 정보를 열람할 수 있고, 회사 또는 정보관리책임자에게 잘못된 정보에 대한 정정을  요청할 수 있습니다. 회사는 회원으로부터 정보정정의 요청이 있는 경우 그 오류를 정정하거나 정정하지  못하는 사유를 회원에게 통지하는 등 필요한 조치를 취할 때까지 당해 정보를 이용하지 않습니다. 다만, 다른 법률에 따라 개인정보의 제공을 요청 받은 경우에는 그러하지 아니 합니다. <br>
            <strong>사. </strong>회사는  회원정보의 보호를 위하여 관리자를 최소한으로 한정하며, 회사의 고의 또는 과실로 인하여 회원정보가 분실, 도난, 유출, 변조된  경우에는 그로 인한 회원의 손해에 대하여 모든 책임을 부담합니다.<br>
            <strong>아. </strong>이용계약이  종료된 경우, 회사는 당해 회원의 정보를 파기하는 것을 원칙으로 합니다. 다만, 아래의 경우에는 회원정보를 보관합니다. 이 경우 회사는 보관하고 있는 회원정보를 그 보관의 목적으로만 이용합니다. </p>
        <ol>
            <li>상법, 전자상거래등에서의소비자보호에관한법률 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 관계법령에서  정한 일정한 기간 동안 회원정보를 보관합니다. </li>
            <li>서비스를  통하여 물품을 구매한 내역이 있는 회원에 대하여 이용계약이 종료된 경우, 회사는 위 라항 ③호에 기한 거래당사자들에 대한 정보제공과 이 약관에 정한 제한을 의도적으로 회피하기 위한 임의해지를 방지하기  위하여 이용계약종료 후 6개월간 아이디(ID), 성명 또는  상호, 연락처, 배송관련주소, 대금송금계좌정보, 판매거부 또는 구매거부의 횟수 등 최소한의 필요정보를  보관합니다.</li>
            <li>회사가  이용계약을 해지하거나 회사로부터 회원자격정지, 제한 등의 조치를 받은 회원에 대해서는 재가입에 대한  승낙거부사유가 존재하는지 여부를 확인하기 위한 목적으로 이용계약종료 후 5년간 아이디(ID), 성명 또는 상호, 연락처,  주소, 해지와 회원자격정지와 관련된 정보 등 최소한의 필요정보를 보관합니다. </li>
            <li>기타  정보수집에 관한 동의를 받을 때 보유기간을 명시한 경우에는 그 보유기간까지 회원정보를 보관합니다.</li>
        </ol>
        <p><strong>자. </strong>회사가  개인정보의 수집ㆍ취급ㆍ관리 등을 위탁하는 경우에는 위탁 업무의 내용 및 수탁사의 명칭 등에 관한 사항을 서면, 전자우편, 모사전송, 전화 또는 홈페이지를 통해 미리 회원에게 고지하여 동의를  받거나 개인정보취급방침에 포함하여 인터넷사이트(http://www.wisefood.co.kr)에 공개합니다. <br>
            <strong>차. </strong>회사는  회원정보의 보호와 관리에 관한 개인정보취급방침을 회원과 회사의 서비스를 이용하고자 하는 자가 알 수 있도록 인터넷사이트(http://www.wisefood.co.kr/inc/about02.php)에 공개합니다. <br>
            <strong>제12조(회원정보의 변경)</strong><br>
            <strong>가. </strong>회원은  이용신청 시 기재한 사항이 잘못되었거나 변경되었을 경우, 즉시 해당 사항을 수정해야 합니다. 회원정보의 변경은 로그인을 한 후 마이페이지 &gt;회원정보수정  코너에서 변경할 수 있습니다. 단, 아이디(ID), 주민등록번호 및 성명은 수정할 수 없음을 원칙으로 합니다.<br>
            <strong>나. </strong>회원정보가  변경되었음에도 해당 사항을 수정하지 않음으로써 발생한 각종 손해와 잘못된 수정으로 인하여 발생한 손해는 당해 회원이 부담하여야 하며, 회사는 이에 대하여 아무런 책임을 지지 않습니다.<br>
            <strong>제13조 (아이디(ID) 관리) </strong><br>
            <strong>가. </strong>아이디(ID), 비밀번호에 대한 관리책임은 회원에게 있으며, 회원은 아이디(ID), 비밀번호를 타인에게 양도, 대여할 수 없습니다.<br>
            <strong>나. </strong>회사의  행위에 의하지 아니한 아이디(ID) 또는 비밀번호의 유출, 양도, 대여로 인한 손실이나 손해에 대하여 회사는 아무런 책임을 지지 않습니다. <br>
            <strong>다. </strong>회원이  아이디(ID) 또는 비밀번호를 도난 당하거나 제3자가 이를  사용하고 있음을 인지한 경우, 즉시 회사에게 통보하여야 하고, 회사의  안내가 있는 경우에는 그에 따라야 합니다.</p>
        <p><strong>제4장  서비스의 이용 </strong><br>
            <strong>제14조 (서비스의 종류 및 이용)</strong><br>
            <strong>가.</strong> 회사가 제공하는 매매서비스는 장바구니를 또한 구매와 즉시구매 등이 있습니다. 매매서비스의  종류와 내용은 변경 및 추가가 될 수 있습니다.<br>
            <strong>나. </strong>회사는  매매서비스의 종류에 따라 각 매매의 대한 사항을 서비스화면을 통하여 공지합니다. 회원은 회사가 공지한  각 매매에 관한 사항을 사전에 충분히 이해하고 서비스를 이용하여야 합니다. <br>
            <strong>다. </strong>회원은  아이디(ID)와 비밀번호, 주민등록번호(사업자등록번호 또는 법인등록번호)를 통하여 회사가 제공하는 서비스에  접속할 수 있습니다. <br>
            <strong>라. </strong>회원이  매매서비스를 통하여 구매하는 경우, 반드시 회사가 마련한 매매보호서비스를 통하여 거래를 완료하여야 합니다. 회사는 회사가 운영하고 있는 서비스 이외의 거래로 인하여 발생한 문제에 대하여 책임지지 않습니다.<br>
            <strong>제15조(매매서비스 이용정지, 이용제한) </strong><br>
            <strong>가. </strong>회사는  매매서비스를 통한 거래의 안전성과 신뢰성을 위하여 이 약관에서 정한 바에 따라 회원자격을 정지하거나 제공하는 서비스의 이용을 제한할 수 있습니다. 회원자격이 정지된 회원은 서비스를 이용할 수 없습니다. <br>
            <strong>나. 회원자격의  정지와 서비스의 이용제한 </strong><br>
            <strong>1) </strong>위법ㆍ부당행위ㆍ영업방해<br>
            회사는 회원이 다음 각목의 하나에 해당하는 경우 회원자격을 정지하거나 서비스 제공을 거부 또는 제한할 수 있으며, 그 밖에 법령준수, 타인의 권리보호, 사이트의 안전 확보 등을 위하여 필요한 조치를 취할 수 있습니다. <br>
            ① 회사의 인터넷사이트, 시스템, 서비스를  스팸정보 전송 또는 악성코드 프로그램 유포 등 범죄 또는 불법행위에 이용한 경우 <br>
            ② 타인의 주민등록번호를 부정 사용하여 회원 가입한 경우 <br>
            ③ 부당 또는 부정하게 타인의 아이디, 닉네임을 사용하여 서비스를  이용한 경우 <br>
            ④ 거래이행을 위한 구매자 또는 회사로부터의 연락 회피나 제재 회피 등 부정한 목적으로 회원정보의 수정을 거부하한  경우<br>
            ⑤ 게시판 등을 통하여 불법정보를 유통하거나 유통을 시도한 경우 <br>
            ⑥ 인터넷사이트의 정보, 데이터를 정당한 권한 없이 스스로 또는 제3자를 통하여 복사, 퍼가기, 스크래핑  하거나 기타의 방법으로 상업적으로 이용한 경우<br>
            ⑦ 그 외 약관 또는 법령에 위반되거나 타인의 권리를 침해하는 행위가 있거나 그러한 위법ㆍ부당한 행위가 있는  것으로 의심될 만한 상당한 이유가 있는 경우<br>
            <strong>제16조 (물품구매규정) </strong><br>
            <strong>가. </strong>물품을  구매하고자 하는 회원은 회사가 제공하는 서비스 화면에서 구매하셔야 합니다. 구매에 대하여는 수수료가  부과되지 않습니다. <br>
            <strong>나. 구매신청방법 </strong><br>
            <strong>1) </strong>회원은  물품등록정보를 자세히 살펴본 후 구매의사가 있을 때에 한하여 신중히 구매 신청하여야 합니다. <br>
            <strong>2) </strong>회원은  구매진행 중에는 고객센터 또는 이메일(Wisefood@Wisefood.co.kr)을 통해 물품에 관한  질문을 할 수 있습니다<br>
            <strong>3) </strong>제공되는  서비스를 통해 구매를 한 회원은 결재가 이루어지지 않은 경우 구매취소를 할 수 있으며 결재 후에는 환불,반품을  요청할 수 있습니다.<br>
            <strong>다. 구매과정 </strong><br>
            <strong>1) </strong>구매자는  구매 종료 후 회사가 24시간 이내에 발송하여 마이페이지의 구매자용 서비스화면에서 배송 여부를 확인할  수 있습니다. <br>
            <strong>2) </strong>[구매하기] 항목을 클릭하고 결제를 완료하면 즉시 구매가 이루어집니다. 다만, 무통장입금의 방식으로 결제하는 경우에는 주문서 작성 즉시  결재 대기 상태로 이루어집니다. <br>
            <strong>3) </strong>구매자는  상품을 구매한 이후에도 서비스화면에서 [구매거부] 또는 [결제취소] 항목을 클릭함으로써 구매를 거부할 수 있습니다. 다만, 물품발송지연의 사유로 구매자가 [결제취소]항목을 클릭한 경우에는 구매거부로 처리되지 않습니다. <br>
            <strong>4) </strong>주문서  작성으로써 매매가 이루어지는 구매의 경우 구매자는 계좌발급 후 5일(토요일, 공휴일 제외)이내에 물품대금을 회사에 입금하여야 합니다. 계좌발급 후 5일이 경과하도록 입금이 확인되지 않는 경우에 구매자의  구매거부로 간주되며 해당 구매는 취소됩니다. <br>
            <strong>5) </strong>구매자는  회사가 제공하는 서비스화면에 주문사항, 물품수령지 정보를 정확히 기재하여야 하며, 미기재 또는 오기로 인한 불이익은 구매자가 부담합니다. <br>
            <strong>제17조 (구매자의 입금 또는 대금결제) </strong><br>
            <strong>가. </strong>구매자가  물품대금을 잘못 입금하거나 입금정보를 잘못 기입하거나 기입하지 않음으로 인한 모든 위험과 책임은 구매자가 부담하여야 하고, 회사는 이에 대하여 아무런 책임을 지지 않습니다. <br>
            <strong>나. </strong>구매자는  물품등록정보에서 신용카드 결제를 허용하는 경우에 한하여 본인 명의 신용카드로 대금을 결제할 수 있습니다. 회사는  구매자가 제공한 회원정보가 신용카드의 명의인과 다른 경우 신용카드 결제를 거부하거나 취소할 수 있습니다. 다만, 법인카드의 경우 실명확인절차를 거쳐 사용할 수 있습니다. <br>
            <strong>다. </strong>구매자는  물품대금의 전부 또는 일부를 보유하고 있는 Point 또는 기타 회사가 인정하는 결제수단을 사용하여  결제할 수 있습니다. 이 경우, 서비스화면의 입금정보 기입란에 Point 또는 기타 회사가 인정하는 결제수단의 결제액을 기입하고, 차액만큼만  허용된 결제방법으로 입금하면 됩니다. <br>
            <strong>제18조 (배송) </strong><br>
            <strong>가. </strong>회사는  구매자의 입금 또는 대금결제에 대한 확인통지를 받은 후 영업일 3일 이내에 배송에 필요한 조치를 하고, 마이 페이지 내 판매자용 서비스화면에 물품을 발송하였음을 표시하여야 하며 입금확인일로부터 5일(토요일, 공휴일 제외)이 경과하도록 물품발송표시가 이루어지지 않을 경우 구매자는 [결제취소] 항목을 클릭할 수 있으며 이 경우 해당 거래는 구매거부로 인정되어 취소됩니다. <br>
            <strong>나. </strong>판매자가  물품을 발송하였음을 표시한 경우, 구매자가 이러한 사실을 알 수 있도록 구매자용 서비스 화면에 표시하거나  메일 등으로 통지합니다. <br>
            <strong>다. </strong>판매자가  물품을 운송할 경우 구매자가 물품을 수령하기까지의 위험은 판매자가 부담합니다. 이에 따라 판매자는 구매자가  하자(파손,멸실,부패  등)없는 물품을 수령할 수 있도록 물품의 포장, 운송업체의  선정, 기타 필요한 조치를 적정하게 하여야 합니다. <br>
            <strong>라. </strong>서비스를  통하여 거래된 물품의 운송과 관련하여 구매자, 운송업체, 금융기관  등과 사이에 분쟁 등이 발생한 경우에는 관련 당사자간에 해결하여야 합니다. 회사는 이에 대하여 관여하지  않으며 어떠한 책임도 부담하지 않습니다. <br>
            <strong>제19조 (구매결정)</strong><br>
            <strong>가. </strong>판매자가  물품발송 시 기재한 발송일자로부터 7일이 경과하도록 구매자로부터 구매결정, 물품미수령, 반품, 환불  등에 관한 아무런 의사표시가 없는 경우, 회사는 배송 완료로 변경합니다. 회사는 구매절차를 종료합니다. 이 후 이의제기에 대한 내용은 구매자가  판매자와 직접 처리 또는 회사의 중재에 의하여 처리합니다.<br>
            <strong>제20조 (반품과 환불) </strong><br>
            <strong>가. </strong>구매자는  물품을 수령하지 못한 경우 판매자가 표시한 물품발송일로부터 15일 이내에 회사에게 e-mail, 전화, 팩스 기타의 방법을 통하여 물품미수령 통지를  하여야 합니다. 이 경우, 회사는 즉시 판매자에게 물품미도착  사실을 서비스화면에 표시하거나 이메일 등으로 통지하며 그 통지일로부터 협력사가 공지한 배송일+ 3일(주말미포함) 이내에 판매자가 물품도착증빙을 제공하지 못하는 경우 회사는  입금된 대금을 구매자에게 환불합니다. <br>
            <strong>나.</strong>구매자는  물품을 수령한 후 7일 이내에(물품등록정보에 그 이상의 기간이  게시되어 있는 경우에는 그 기간내에) 반품할 수 있습니다. 이  경우, 판매자는 구매자의 반품을 인정하여야 합니다. 다만, 구매자의 귀책사유로 물품이 훼손된 경우(내용확인을 위한 포장훼손은  제외), 사용이나 일부 소비로 인하여 물품의 가치가 현저히 감소한 경우(판매자가 미리 고지한 경우에 한함), 재판매가 곤란할 정도로 물품의  가치가 현저히 감소한 경우, 복제가능한 물품의 포장을 훼손한 경우와 기타 법령에 의하여 반품이 제한되어  있는 경우에는 반품할 수 없습니다. <br>
            <strong>다. </strong>구매자는  반품하고자 하는 경우, 즉시 회사 또는 판매자에게 email, 전화, 팩스 기타의 방법을 통하여 반품 통지를 하여야 하며, 회사에 대하여는  해당 서비스 화면에 반품요청을 하였음을 표시하여야 합니다. <br>
            <strong>라. </strong>반품  시 소요되는 운송료는 반품의 원인을 제공한 자가 부담함을 원칙으로 합니다. <br>
            <strong>마. </strong>구매자는  반품하는 경우, 판매자에게 안전하게 반품하여야 합니다. 물품을  반품받은 판매자는 대금의 환불을 위하여 즉시 회사가 정하는 방법으로 회사에 [반품승인] 의사를 통지하여야 합니다. 이 경우, 회사는 2일(토요일, 공휴일 제외, 이하 &quot;환불기간&quot;) 이내에 구매자에게 대금전액을 환불하거나 신용카드 결제취소 등 필요한 조치를 취하고 이를 구매자에게  통지합니다. 판매자의 [반품승인] 의사 통지 지연으로 인한 손해는 판매자가 부담하여야 합니다. 다만, 판매자가 반품 수령에도 불구하고 반품수령일로부터 3일(토요일, 공휴일 제외) 이내에 [반품보류] 항목을 클릭하거나 기타 회사가 정하는 방법으로 회사에 [반품보류] 의사를 통지하지 않는 경우 회사는 구매자에게 환불에 필요한  조치를 할 수 있으며, 회사가 배송을 확인할 수 없는 물품을 반품하는 경우에는 구매자가 상기 다항에  따라 회사에 대하여 해당 서비스 화면에 반품요청을 하였음을 표시한 날로부터 15일(토요일, 공휴일 제외) 이내에  회사가 정하는 방법으로 회사에 [반품보류] 의사를 통지하지  않는 경우 회사는 구매자에게 환불에 필요한 조치를 할 수 있습니다. <br>
            <strong>바.</strong> 구매자는 반품발송일로부터 10일이 경과하면 회사에 대하여 반품발송증빙을  첨부하여 환불을 요청할 수 있습니다. 이 경우, 회사는 환불기간  이내에 구매자에게 환불에 필요한 조치를 취합니다. 다만, 회사가  구매자에게 환불할 때까지 판매자가 회사에 대하여 반품미수령 통지를 하거나 또는 [반품보류]의 의사를 통지한 경우에는 환불을 보류합니다. 판매자가 반품미수령  통지를 하여 회사가 환불을 보류한 경우 구매자가 반품도착증빙을 첨부하여 환불을 요청하면 회사는 환불기간 내에 환불에 필요한 조치를 취하나, 이 경우에도 회사가 구매자에게 환불할 때까지 판매자가 [반품보류]의 의사를 회사에 통지한 경우 회사는 환불을 보류합니다.<br>
            <strong>사. </strong>물품을  반품받은 판매자는 배송비의 정산, 부속품/종물/사은품의 반환 확인 등이 필요한 경우, 기타 구매자의 반품이 이 약관  규정에 비추어 부적합하다고 여겨지는 경우 회사에 [반품보류]의  의사를 통지할 수 있습니다. 판매자가 배송비의 정산을 이유로 [반품보류]의 의사를 통지한 경우, 구매자가 배송비의 정산을 완료하면 회사는  환불기간 내에 환불에 필요한 조치를 취합니다. 기타의 사유로 판매자가  [반품보류]의사를 통지한 경우, 회사는 구매자에  대한 환불을 보류하며 반품과 관련된 구매자와 판매자간의 분쟁이 완료되면 정당한 권리자에게 대금을 환불합니다. 이와  관련하여 반품과 관련된 분쟁은 판매자와 구매자 간에 스스로 해결하여야 합니다. 회사는 반품과 관련된  해결을 거부, 태만하거나 기타의 방법으로 분쟁의 해결을 지연시키는 경우 이러한 회원의 서비스 이용을  제한하는 등 제재를 할 수 있습니다. <br>
            <strong>아. </strong>구매자는  위 가항 내지 사항 규정에 의한 회사의 구매 서비스가 종료한 이후에도 관련법령에 따라 반품을 행할 수 있습니다.  이 경우, 구매자는 판매자에 대하여 직접 반품에 따른 환불요청을 하여야 하고 회사는 이에  대하여 개입하거나 책임지지 않습니다. <br>
            <strong>자. </strong>이  약관에 규정된 회사의 매매보호 서비스가 종료한 후 회사의 서비스를 통하여 거래된 물품중 회사가 직접 관리하는 제품이 외의 제품의 하자, 반품, 환불 등과 관련하여 판매자와 구매자, 운송업체, 금융기관 등과 사이에 분쟁 등이 발생한 경우 관련 당사자간에  해결하여야 하고, 회사는 이에 대하여 관여하지 않으며 어떠한 책임도 부담하지 않습니다. <br>
            <strong>제24조 (Point) </strong><br>
            <strong>가. </strong>회사가  인정하는 Point는 이벤트 Point가 있습니다. <br>
            <strong>나. </strong>이벤트 Point는 회사가 시행하는 각종 이벤트의 당첨을 통해 적립되며, 현금으로  출금되지 않습니다. 이용계약이 종료되는 경우 이벤트 Point는  자동적으로 소멸됩니다. 회사가 이벤트 Point를 제공하는  경우 이의 사용기간과 조건을 서비스화면에 표시합니다. <br>
            <strong>다. </strong>회원은  물품의 판매 또는 구매와 관련하여 Point에 의한 결제 또는 대금의 결제를 선택할 수 있습니다. 단 구매 시 제품의 마진율에 따라 차등 적용된다.<br>
            <strong>제25조 (서비스에의 준용) </strong><br>
            <strong>가. </strong>서비스의  이용에 대해서도 개별약관 등에 의한 별도의 정함이 없는 한 본 장의 서비스의 이용에 관한 규정들이 준용됩니다. <br>
            <strong>나. </strong>회원의  이용계약이 종료하거나 회원 자격이 정지되거나 인터넷사이트에서 제공되는 서비스의 이용이 정지되는 경우 서비스의 이용은 당연히 자동으로 정지됩니다. 다만, 회원이 이 약관에 위반하는 행위(예. 판매자의 매매부적합물품 등록 등)를 인터넷사이트 이외의 사이트에서만 행한 경우 회사는 해당 회원에 대해 서비스의 이용을 정지할 수 있습니다. <br>
            <strong>제26조  (지적 재산권)</strong><br>
            <strong>가.</strong> 쇼핑몰이 작성하여 제공하는 서비스에 관한 저작권 및 기타 지적재산권은쇼핑몰에 속합니다. 회원은 쇼핑몰이 제공하는 서비스를 쇼핑몰의동의 없이 영리를 목적으로 사용할 수 없습니다.<br>
            <strong>나.</strong> 회원이 게시한 게시물에 대한 권리와 책임은 게시한 회원에게 있습니다.<br>
            쇼핑몰은 회원이 게시한 게시물에 대하여 서비스 내에서의 게재권을 가지며, 게시한  회원의 동의 없이 이를 영리적인 목적으로 사용하지 않습니다.<br>
            <strong>제27조  (이용자의 게시물)</strong><br>
            쇼핑몰은 이용자가 게시하거나 등록하는 서비스 내의 내용물이 다음 각 사항에 해당된다고 판단되는 경우에 사전 통지  없이 삭제할 수 있습니다.<br>
            1. 다른 이용자 또는 제 3자를  비방하거나 중상모략으로 명예를 손상시키는 내용인 경우<br>
            2. 공공질서 및 미풍양속에 위반되는 내용인 경우<br>
            3. 범죄적 행위에 결부된다고 인정되는 내용일 경우<br>
            4. 제 3자의 저작권  등 기타권리를 침해하는 내용인 경우<br>
            5.기타 관계 법령이나 회사에서 정한 규정에 위배되는 경우</p>
        <p align="left"><strong>제 5장 서비스이용수수료 </strong><br>
            <strong>제 28조(포인트)</strong><br>
            <strong>가. </strong>포인트 운영 정책<strong> </strong><br>
            1. &quot;와이즈푸드 사이트&quot;은  특정상품이나 용역을 구입하거나 와이즈푸드에서 지정한 결제수단으로 구입하는 고객 또는 프로모션을 통해 당첨되어 해당 포인트를 지급 받게 된 고객에게  포인트를 부여할 수 있다. 이런 포인트의 부여는 각 호의 방법에 따르되, 그  구체적인 방법은 &quot;와이즈푸드 사이트&quot;의 운영정책에  의한다.<br>
            2. 와이즈푸드 사이트 내에서 포인트는 포인트 및 쿠폰 등의 다양한  형태로 부여하며, 모두 포인트로 본다. <br>
            1) &quot;와이즈푸드&quot;는  포인트 부여를 안내한 상품 또는 용역을 구입한 고객이나 해당 프로모션 당첨 고객 등에게 안내한 방식으로 포인트를 부여 한다. <br>
            2) &quot;와이즈푸드&quot;의  운영정책 및 이용매체에 따라 상품별 주문증가에 다른 추가 포인트 부여가 불가능 할 수 있고, 포인트 사용가능  시점 및 포인트의 분할 사용가능 여부가 다를 수 있다.<br>
            3) 포인트는 &quot;와이즈푸드  사이트&quot;의 서비스 제도로써 &quot;와이즈푸드&quot;에서 상품 구매 시 현금가액과 동일하게 사용할 수 있으나 현금으로 환불 되지는 않는다. 단, 가용가능 기준으로 &quot;와이즈푸드  사이트&quot; 의 운영정책에 따른다.<br>
            4) 고객은 포인트 지급일로부터 12개월  이내에 그 포인트를 사용하여야 한다. 포인트는 부여된 순서로 사용되며, 지급일로부터 24개월 이후 잔여 포인트가 있는 경우 그 포인트는 자동적으로 소멸된다.<br>
            <strong>나. </strong>포인트의 지급<strong> </strong><br>
            1. 포인트는 해당  제품 금액의 1.5%을 포인트로 지정해서 운영하며 그 이외에 회원의 활동에 따라 별도의 포인트를 아래와 같이  지급하도록 한다.<br>
            1) 최초 가입  시 500포인트가 적립된다.<br>
            2) 가입 중 부가정보  입력 시 300포인트가 적립된다. 단, 가입  후 부가정보를 삭제 할 경우 해당 포인트는 소멸된다.<br>
            3) 가입 중 추천인을  기입할 시 추천인에게 500포인트가 적립된다.<br>
            4) 상품 구매  후 한줄 상품평 등록 시 10포인트가 적립된다.<br>
            5) 상품 구매  후 생생체험후기 등록 시 200포인트가 적립된다.<br>
            5) 우수 구매  후기 채택 시 500포인트가 적립된다.<br>
            6) 와이즈푸드  내에서 설문 조사 및 이벤트 참여 시 100포인트가 적립된다.<br>
            <strong>다. </strong>제품 반품 및 환불에 따른 포인트 반환<strong> </strong><br>
            1. &ldquo;와이즈푸드  사이트&rdquo;에서 제품 구매 시 지급되는 포인트는 고객의 변심 및 제품의 문제로 환불 처리 될 경우 해당  제품 구매로 얻어지는 포인트는 전액 소멸된다.<br>
            2. 포인트  소멸 시점은 결제 대금 취소가 되는 시점에 진행된다.<br>
            3. 포인트의  반환 절차가 완료되지 않은 시점에서 고객이 다른 제품을 구매할 때 해당 포인트를 사용하였을 경우 &ldquo;와이즈푸드&rdquo;는 고객에게 해당 포인트에 대하여 현금반환 및 문제를 제기할 수 있다.<br>
            <strong>라. </strong>포인트 사용<strong> </strong><br>
            1. 포인트의  사용은 &ldquo;와이즈푸드&rdquo; 내에서 제품 구매 시 현금처럼 사용  가능하며, 구매 시 각 제품의 마진율에 따라 차등 작용하도록 한다. </p>
        <p><strong>제6장  면책조항 등 </strong><br>
            <strong>제29조 (회사의 면책) </strong><br>
            <strong>가. </strong>회사는  천재지변 또는 이에 준하는 불가항력, 정보통신설비의 보수점검, 교체  또는 고장, 통신의 두절 등으로 인하여 일시적 또는 종국적으로 서비스를 제공할 수 없는 경우, 서비스 제공에 관한 책임이 면제됩니다. 이 경우 회사는 회사가 제공하는  인터넷사이트 화면에 게시하거나 기타의 방법으로 회원들에게 통지합니다. <br>
            <strong>다. </strong>회사는  인터넷 이용자 또는 회원의 귀책사유로 인한 서비스 이용의 장애에 대하여 책임을 지지 않습니다. <br>
            <strong>라. </strong>회사는  서비스 또는 서비스를 통하여 거래되는 물품의 하자, 물품등록정보의 오류, 미비 등으로 인하여 회원이 입는 손해에 대해서는 책임(제조물책임  포함)을 지지 않습니다. <br>
            <strong>마. </strong>회사는  회원이 다른 회원이 게재한 정보, 자료, 사실의 정확성 등을  신뢰함으로써 입은 손해에 대하여 책임을 지지 않습니다. <br>
            <strong>바. </strong>회사와  피연결회사(회사의 서비스 화면과 링크 등으로 연결된 사이트를 운영하는 회사를 말합니다)는 독자적으로 운영되며, 회사는 피연결회사와 회원간에 이루어진 거래에  대하여는 책임을 지지 않습니다. <br>
            <strong>제30조 (준거법 및 관할법원) </strong><br>
            이 약관과 회사와 회원간의 서비스이용계약, 회원 상호간의 물품거래에  대해서는 대한민국 법령이 적용되며, 이 약관, 회사와 회원간의  서비스 이용계약 및 회원 상호간의 물품 거래에 관한 해석과 관할법원에 대하여는 대한민국 법령에 따릅니다. <br>
            <strong>제31조 (기타 조항)</strong><br>
            <strong>가. </strong>회사는  회원이 제기하는 정당한 의견이나 불만을 반영하고 그 문제를 해결하고 회원 상호간의 분쟁을 조정하기 위하여 고객센터를 설치, 운영합니다. 회사는 회원으로부터 제기되는 불만사항 및 의견이 정당하다고  판단되는 경우 이를 신속하게 처리하며, 즉시처리가 곤란한 경우에는 그 사유와 처리기간을 통보합니다. <br>
            <strong>나. </strong>본  서비스를 위반하거나 서비스 이용시 불편 사항이 발생한 경우 wisefood@wisefood.co.kr을  이용하시거나 전화 (070-7666-4923) 또는 Fax  (02-501-7481)로 알려주시면 성심껏 처리해 드리겠습니다. <br>
            <strong>다. 회사소개 </strong><br>
            1) 주식회사 와이즈푸드<br>
            2) 소재지 : 서울특별시  강남구 역삼동 643- 5 4층<br>
            3) 대표이사 : 조성훈<br>
            4) 사업자 등록번호 :  220-87-59858 </p>
        <p>부 칙<br>
            제1조 (적용일자)</p>
        <p><strong>가.</strong><br>
            이 약관은 2012년 1월 1일부터 적용됩니다. <br>
            <strong>나.</strong><br>
            이 약관은 적용일자 이후에 물품이 등록된 거래부터 적용됩니다.</p></div>
    </body>
</div>
</html>