<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- top.html의 head 부분 include -->
<head th:replace="layout/header :: header"></head>
<div th:replace="layout/left :: left"></div>
<div id="con">
    <div style="padding-bottom:25px;padding-top:20px;">
        <img th:src="@{/img/common/tit_11.gif}">
    </div>
    <div style="display:block;overflow:hidden;padding-top:15px;">

        <div style="text-align:right;padding-bottom:5px;">
            &nbsp;
            <!--
            <select><option>제목</option>
            <option>내용</option></select>
            <input type="text" size="18" class="input_notice">
            --->
        </div>
    </div>
    <div id="Blog_view">
        <div style="padding-bottom:10px;">
            <table cellspacing="0"cellpadding="0" border="0" style="width:100%;">
                <tr>
                    <td class="tr_view" align="left"><span style="margin-right:10px;"class="te_gn2">[<b>후기</b>] </span>  {{boardData.subject}}
                    </td>
                </tr>
                <tr>
                    <td class="td_view" align="left">
                        <div style="float:left;padding-left:10px;" class="te_do te_le sz_11">
                            작성자 : <span class="te_en sz_11 te_gray">{{boardData.pass}}</span></div>
                        <div style="float:right;padding-right:10px;" class="te_do te_le sz_11">
                            작성일 : <span class="te_en sz_11 te_gray">{{boardData.formattedDateTime}}</span></div>
                    </td>
                </tr>
                <tr>
                    <td class="td_view" align="left">
                        <div style="float:left;padding-left:10px;" class="te_do te_le sz_11">
                            url : <span class="te_en sz_11 te_gray"> <a class="tb_text"  :href="boardData.linkurl" target='_new'> {{boardData.linkurl}}</a></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td_view"align="left" colspan="3">
                        <div style="padding:15px; line-height:20px;" class="te_do te_gray04 sz_12"  v-html="boardData.contents">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="padding-bottom:20px;text-align:right;"><a href="/board/blog_main">목록</a></div>
        <div>
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td class="tr_list_01" align="center" width="70px"><span class="te_en">이전글</span></td>
                    <td class="tr_list_01" align="left" v-if="boardData.previousData">
                        <a :href="`/board/blog_v?no=${boardData.previousData.id}`">
                            {{ boardData.previousData.subject }}
                        </a>
                    </td>
                    <td class="tr_list_01" align="left" v-else>
                        이전글이 없습니다
                    </td>
                    <td class="tr_list_01" align="center" width="100px">
                        <span class="te_en te_le sz_11" v-if="boardData.previousData">
                        {{boardData.previousData.formattedDate}}</span>
                        <span class="te_en te_le sz_11" v-else>0000-00-00</span>
                    </td>
                </tr>
                <tr>
                    <td class="tr_list_02" align="center"><span class="te_en">다음글</span></td>
                    <td class="tr_list_02" align="left" v-if="boardData.nextData">
                        <a :href="`/board/blog_v?no=${boardData.nextData.id}`">
                            {{ boardData.nextData.subject }}
                        </a>
                    </td>
                    <td class="tr_list_02" align="left" v-else>
                        다음글이 없습니다
                    </td>
                    <td class="tr_list_02" align="center">
                        <span class="te_en te_le sz_11" v-if="boardData.nextData">
                        {{boardData.nextData.formattedDate}}</span>
                        <span class="te_en te_le sz_11" v-else>0000-00-00</span>
                    </td>
                    <!--<td class="tr_list_02" align="center"><span class="te_en te_le sz_11">256</span></td>--->
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    function getQueryParam(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }
     new Vue({
        el: '#Blog_view',
        data: {
            boardData : {},
            //이전, 다음글
            prevBoard: null,
            nextBoard: null,

        },
        computed: {},
        created : function() {
            this.loadData();
        },
        methods: {
            getBoardNo: function() {
                const no = getQueryParam("no");
                return no ? parseInt(no) : 1;
            },

            loadData: function() {
                var vm = this;
                var boardNo = this.getBoardNo();
                console.log("게시물 번호111 :", boardNo);

                axios.get(`/api/board/blog/view?no=${boardNo}`)
                    .then(response => {
                    console.log(response);
                        if (response.data.data) {
                            vm.boardData = response.data.data.board || response.data.data;
                        } else {
                            vm.boardData = response.data;
                        }
                        console.log(vm.boardData);
                    })
                    .catch(error => {
                        console.error("데이터 로드 실패:", error);

                    });

            },
        }
    });
</script>
<div th:replace="layout/bottom :: bottom"></div>
</body>
</html>