<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- top.html의 head 부분 include -->
<head th:replace="layout/header :: header"></head>
<div th:replace="layout/left :: left"></div>
<div id="con">
    <div style="padding-bottom:25px;padding-top:20px;">
        <img th:src="@{/img/common/tit_05.gif}">
    </div>
    <div style="display:block;overflow:hidden;padding-top:15px;" id="Board">
        <div style="float:left;">
            <div style="display: flex;">
                <!-- 모든 a 태그를 나란히 배치 -->
                <!-- 첫번째 탭 -->
                <a th:href="@{/board/ev_main}">
                    <img th:src="${currentPage.startsWith('/board/ev_main') || currentPage.startsWith('/board/ev_v') ? '/img/common/tab_event_01_over.gif' : '/img/common/tab_event_01.gif'}"
                         th:data-active="${currentPage.startsWith('/board/ev_main')}"
                         th:attr="data-normal=${currentPage.startsWith('/board/ev_main') || currentPage.startsWith('/board/ev_v') ? '/img/common/tab_event_01_over.gif' : '/img/common/tab_event_01.gif'}"
                         data-hover="/img/common/tab_event_01_over.gif"
                         onmouseover="if(this.getAttribute('data-active') !== 'true') this.src=this.getAttribute('data-hover')"
                         onmouseout="if(this.getAttribute('data-active') !== 'true') this.src=this.getAttribute('data-normal')">
                </a>
                <!-- 두번째 탭 -->
                <a th:href="@{/board/review_main}">
                    <img th:src="${currentPage.startsWith('/board/review_main') || currentPage.startsWith('/board/review_v') ? '/img/common/tab_event_02_over.gif' : '/img/common/tab_event_02.gif'}"
                         th:data-active="${currentPage.startsWith('/board/review_main')}"
                         data-normal="/img/common/tab_event_02.gif"
                         data-hover="/img/common/tab_event_02_over.gif"
                         onmouseover="if(this.getAttribute('data-active') !== 'true') this.src=this.getAttribute('data-hover')"
                         onmouseout="if(this.getAttribute('data-active') !== 'true') this.src=this.getAttribute('data-normal')">
                </a>
                <!-- 세번째 탭 -->
                <a th:href="@{/board/winner_main}">
                    <img th:src="${currentPage.startsWith('/board/winner_main') || currentPage.startsWith('/board/winner_v') ? '/img/common/tab_noti_03_over.gif' : '/img/common/tab_noti_03.gif'}"
                         th:data-active="${currentPage.startsWith('/board/winner_main')}"
                         data-normal="/img/common/tab_noti_03.gif"
                         data-hover="/img/common/tab_noti_03_over.gif"
                         onmouseover="if(this.getAttribute('data-active') !== 'true') this.src=this.getAttribute('data-hover')"
                         onmouseout="if(this.getAttribute('data-active') !== 'true') this.src=this.getAttribute('data-normal')">
                </a>
                <!-- 네번째 탭 -->
                <a th:href="@{/product/social}">
                    <img th:src="${currentPage.startsWith('/product/social') ? '/img/common/tab_noti_04_over.gif' : '/img/common/tab_noti_04.gif'}"
                         th:data-active="${currentPage != null && currentPage.startsWith('/product/social')}"
                         data-normal="/img/common/tab_noti_04.gif"
                         data-hover="/img/common/tab_noti_04_over.gif"
                         onmouseover="if(this.getAttribute('data-active') !== 'true') this.src=this.getAttribute('data-hover')"
                         onmouseout="if(this.getAttribute('data-active') !== 'true') this.src=this.getAttribute('data-normal')">
                </a>
            </div>
        </div>
        <div style="text-align:right;padding-bottom:5px;">
            &nbsp;
            <!--
            <select name=""><option>제목</option>
            <option>내용</option></select>
            <input type="text" size="18" name="keyword" value="<?=$keyword?>" class="input_notice"></div>
            --->
        </div>
        <div style="padding-bottom:10px;" >
            <table cellspacing="0"cellpadding="0" border="0" style="width:100%;">
                <tr>
                    <td class="tr_01" align="center" width="70px">번호</td>
                    <td class="tr_01" align="left">제목</td>
                    <td class="tr_01" align="center" width="120px">등록일</td>
                    <td class="tr_01" align="center" width="80px">조회수</td>
                </tr>

                <tr v-if="boardList.length === 0">
                    <td align="center" colspan="4" class="td_02 "><span class="te_do te_b sz_12">등록된 게시물이 없습니다.</span></td>
                </tr>
                <template v-else>
                    <template v-for="(item, index) in boardList">
                        <tr  :key="item.id">
                            <td class="td_01" align="center" ><span class="te_en"> {{ totalElements - ((currentPage - 1) * pageSize + index) }}</span></td>
                            <td class="td_01" align="left"><a :href="`/board/review_v?no=${item.id}`">{{item.title}}</a></td>
                            <td class="td_01" align="center"><span class="te_en te_le sz_11">{{ item.formattedDateTime }}</span></td>
                            <td class="td_01" align="center"><span class="te_en te_le sz_11">{{ item.hit }}</span></td>
                        </tr>
                    </template>
                </template>
            </table>
        </div>

        <div style="padding-top:10px; padding-bottom:20px;text-align:center;">
            <!-- 페이징 처리 -->
            <div class="page" v-if="totalPages > 0">
                <p>
                    <!-- 이전 페이지 -->
                    <a href="javascript:void(0)"
                       :class="{'off': currentPage === 1}"
                       @click="changePage(currentPage - 1)"
                       v-if="currentPage > 1">
                        &lt;
                    </a>

                    <!-- 페이지 번호들 -->
                    <a href="javascript:void(0)"
                       v-for="pageNum in getPageNumbers()"
                       :key="pageNum"
                       :class="{'on': pageNum === currentPage}"
                       @click="changePage(pageNum)">
                        {{ pageNum }}
                    </a>

                    <!-- 다음 페이지 -->
                    <a href="javascript:void(0)"
                       :class="{'off': currentPage === totalPages}"
                       @click="changePage(currentPage + 1)"
                       v-if="currentPage < totalPages">
                        &gt;
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
new Vue({
    el: '#Board',
    data: {
        boardList: [],
        currentPage: 1,
        totalPages: 0,
        pageSize: 10,
        totalElements: 0,
        setPage: 5,
    },
        created() {
        this.loadBoard();
    },
    methods: {
        async loadBoard(page = 1) {
            try {
                const response = await axios.get('/api/board/review', {
                    params: {
                        page: page,
                        size: this.pageSize
                    }
                });
                this.boardList = response.data.content || [];
                this.currentPage = response.data.currentPage || 1;
                this.totalPages = response.data.totalPages || 0;
                this.totalElements = response.data.totalElements || 0;
                console.log(response.data);
            } catch (error) {
                 console.error('게시판 목록 로드 실패:', error);
                this.boardList = [];
                alert('데이터를 불러오는데 실패했습니다.');
            }
        },
         // 페이지 변경
        changePage(page) {
            if (page < 1 || page > this.totalPages || page === this.currentPage) {
                return;
            }
            this.loadBoard(page);
            // 페이지 상단으로 스크롤
            window.scrollTo({ top: 0, behavior: 'smooth' });
        },
        getPageNumbers() {
            const pageGroupSize = 10; // PHP의 bbs_page_scale
            let pageStart = Math.floor(this.currentPage / pageGroupSize) * pageGroupSize + 1;

            if ((this.currentPage % pageGroupSize) === 0) {
                pageStart -= pageGroupSize;
            }

            const pageEnd = Math.min(pageStart + pageGroupSize - 1, this.totalPages);
            const pages = [];

            for (let i = pageStart; i <= pageEnd; i++) {
                pages.push(i);
            }
            return pages;
        },
    }
});
</script>
<div th:replace="layout/bottom :: bottom"></div>
</body>
</html>