<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="cate_subcontents">
<div style="padding-top:15px;"><img th:src="@{/img/common/tit_31.png}"></div>
<div style="padding-top:10px;width:740px;">
    <table width="100%" cellspacing="1"cellpadding="0" border="0" style="background-color:#d7d7d7;">
        <tr><td height="1px" bgcolor="#d7d7d7" colspan="3"></td></tr>
        <tr>


            <td width="300px" rowspan="2" bgcolor="white" valign="top" align="center">
                <div style="padding-top:10px;padding-bottom:10px;"><img th:src="@{/img/common/tx_52.png}"></div>
                <div style="width:300px; height:310px;padding-top:3px;" id="sub_00">
                    <div style="width:294px; height:307px; background-color:white;"onmouseover="javascript:SO('sub_00');" onmouseout="javascript:SW('sub_00');">
                        <div style="text-align:center;"><a th:href="@{/product/detail?code=W_A0502H&Cat_Content=W_Vitamin&Types=W_A_cate1}"><img th:src="@{/img/product/W_A0502H/gloomyjini_785.jpg}" width="254px"height="250px"></a></div>
                        <div style="padding-top:15px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">연어오일 오메가-3,(3개월...</div>
                        <div style="text-align:center;padding-top:3px;"class="sz_18 te_pink te_en te_le te_b">56,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>


            <td width="218px" height="210" bgcolor="white"valign="top">
                <div class="sub_chu_tit">비타민</div>
                <div style="width:212px; height:175px; padding:3px" id="sub_02">
                    <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_02');" onmouseout="javascript:SW('sub_02');">
                        <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0818V&Cat_Content=W_Vitamin&Types=W_A_cate1}"><img th:src="@{/img/product/W_A0818V/1.jpg}" width="200px"height="120px"></a></div>
                        <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">비타민과 미네랄, (6개월분/...</div>
                        <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b">120,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>


            <td width="218px" height="210" bgcolor="white"valign="top">
                <div class="sub_chu_tit">연령별</div>
                <div style="width:212px; height:175px; padding:3px" id="sub_03">
                    <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_03');" onmouseout="javascript:SW('sub_03');">
                        <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A1301H&Cat_Content=W_Age&Types=W_A_cate1}"><img th:src="@{/img/product/W_A1301H/smart.jpg}" width="200px"height="120px"></a></div>
                        <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">스마트 다이어트,(2일분/6p...</div>
                        <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b">55,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>

        </tr><tr>


        <td width="218px" height="210" bgcolor="white"valign="top">
            <div class="sub_chu_tit">비타민</div>
            <div style="width:212px; height:175px; padding:3px" id="sub_04">
                <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_04');" onmouseout="javascript:SW('sub_04');">
                    <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A1701N&Cat_Content=W_Vitamin&Types=W_A_cate1}"><img th:src="@{/img/product/W_A1701N/qqqq.jpg}" width="200px"height="120px"></a></div>
                    <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">천년동안</div>
                    <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b">15,300<span class="te_do teb sz_12">원</span></div>
                </div>
            </div>
        </td>


        <td width="218px" height="210" bgcolor="white"valign="top">
            <div class="sub_chu_tit">기능별</div>
            <div style="width:212px; height:175px; padding:3px" id="sub_05">
                <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_05');" onmouseout="javascript:SW('sub_05');">
                    <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0811H&Cat_Content=W_Feat&Types=W_A_cate1}"><img th:src="@{/img/product/W_A0811H/2.jpg}" width="200px"height="120px"></a></div>
                    <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">키드프렌즈 칼슘/아연/멀티...</div>
                    <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b">180,000<span class="te_do teb sz_12">원</span></div>
                </div>
            </div>
        </td>

    </tr>
        <tr><td height="1px" bgcolor="#d7d7d7" colspan="3"></td></tr>
    </table>
</div>
</th:block>