<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="cate_subcontents">

    <div style="padding-top:15px;"><img th:src="@{/img/common/tit_4.png}"></div>
    <div style="padding-top:10px;width:740px;">
        <table width="100%" cellspacing="1"cellpadding="0" border="0" style="background-color:#d7d7d7;">
            <tr><td height="1px" bgcolor="#d7d7d7" colspan="3"></td></tr>
            <tr>


                <td width="300px" rowspan="2" bgcolor="white" valign="top" align="center">
                    <div style="padding-top:10px;padding-bottom:10px;"><img th:src="@{/img/common/tx_51.png}"></div>
                    <div style="width:300px; height:310px;padding-top:3px;" id="sub_00">
                        <div style="width:294px; height:307px; background-color:white;"onmouseover="javascript:SO('sub_00');" onmouseout="javascript:SW('sub_00');">
                            <div style="text-align:center;"><a th:href="@{/product/detail?code=W_A0405N&Cat_Content=W_Area}"><img th:src="@{/img/product/W_A0405N/thum260_54.jpg}" width="254px"height="250px"></a></div>
                            <div style="padding-top:15px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">냉동 동결 함초환</div>
                            <div style="text-align:center;padding-top:3px;"class="sz_18 te_gn2 te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">48,000 원</span>43,000<span class="te_do teb sz_12">원</span></div>
                        </div>
                    </div>
                </td>


                <td width="218px" height="210" bgcolor="white"valign="top">
                    <div class="sub_chu_tit">추천상품</div>
                    <div style="width:212px; height:175px; padding:3px" id="sub_02">
                        <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_02');" onmouseout="javascript:SW('sub_02');">
                            <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0606N&Cat_Content=W_Area}"><img th:src="@{/img/product/W_A0606N/13182258051_thum200_120_63.jpg}" width="200px"height="120px"></a></div>
                            <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">유기농 야콘 진액</div>
                            <div style="text-align:center;"class="sz_18 te_gn2 te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">40,000 원</span>34,200<span class="te_do teb sz_12">원</span></div>
                        </div>
                    </div>
                </td>


                <td width="218px" height="210" bgcolor="white"valign="top">
                    <div class="sub_chu_tit">추천상품</div>
                    <div style="width:212px; height:175px; padding:3px" id="sub_03">
                        <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_03');" onmouseout="javascript:SW('sub_03');">
                            <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A1701N&Cat_Content=W_Area}"><img th:src="@{/img/product/W_A1701N/13182240365_thum200_120_14.jpg}" width="200px"height="120px"></a></div>
                            <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">천년동안 </div>
                            <div style="text-align:center;"class="sz_18 te_gn2 te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">21,000 원</span>15,300<span class="te_do teb sz_12">원</span></div>
                        </div>
                    </div>
                </td>

            </tr><tr>


            <td width="218px" height="210" bgcolor="white"valign="top">
                <div class="sub_chu_tit">추천상품</div>
                <div style="width:212px; height:175px; padding:3px" id="sub_04">
                    <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_04');" onmouseout="javascript:SW('sub_04');">
                        <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0101N&Cat_Content=W_Area}"><img th:src="@{/img/product/W_A0101N/13182239249_thum200_120_10.jpg}" width="200px"height="120px"></a></div>
                        <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">석류꽃향 석류즙</div>
                        <div style="text-align:center;"class="sz_18 te_gn2 te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">32,000 원</span>28,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>


            <td width="218px" height="210" bgcolor="white"valign="top">
                <div class="sub_chu_tit">추천상품</div>
                <div style="width:212px; height:175px; padding:3px" id="sub_05">
                    <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_05');" onmouseout="javascript:SW('sub_05');">
                        <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A1401N&Cat_Content=W_Area}"><img th:src="@{/img/product/W_A1401N/13232340933_thum200_120_181.jpg}" width="200px"height="120px"></a></div>
                        <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">엄마사랑</div>
                        <div style="text-align:center;"class="sz_18 te_gn2 te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">75,000 원</span>75,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>

        </tr>
            <tr><td height="1px" bgcolor="#d7d7d7" colspan="3"></td></tr>
        </table>
    </div>

</th:block>