<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="cate_subcontents">

    <div style="padding-top:15px;"><img src="/img/common/tit_26.png"></div>
    <div style="padding-top:10px;width:740px;">
        <table width="100%" cellspacing="1"cellpadding="0" border="0" style="background-color:#d7d7d7;">
            <tr><td height="1px" bgcolor="#d7d7d7" colspan="3"></td></tr>
            <tr>


                <td width="300px" rowspan="2" bgcolor="white" valign="top" align="center">
                    <div style="padding-top:10px;padding-bottom:10px;"><img src="/img/common/tx_67.png"></div>
                    <div style="width:300px; height:310px;padding-top:3px;" id="sub_00">
                        <div style="width:294px; height:307px; background-color:white;"onmouseover="javascript:SO('sub_00');" onmouseout="javascript:SW('sub_00');">
                            <div style="text-align:center;"><a th:href="@{/product/detail?code=W_A0808H&Cat_Content=&Types=W_F_cate4}"><img th:src="@{/img/product/W_A0808H/thum260_39.jpg}" width="254px"height="250px"></a></div>
                            <div style="padding-top:15px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">아발론 하이칼슘</div>
                            <div style="text-align:center;padding-top:3px;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">120,000 원</span>75,000<span class="te_do teb sz_12">원</span></div>
                        </div>
                    </div>
                </td>


                <td width="218px" height="210" bgcolor="white"valign="top">
                    <div class="sub_chu_tit">추천상품</div>
                    <div style="width:212px; height:175px; padding:3px" id="sub_02">
                        <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_02');" onmouseout="javascript:SW('sub_02');">
                            <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0810H&Cat_Content=&Types=W_F_cate4}"><img th:src="@{/img/product/W_A0810H/13182248555_thum200_120_40.jpg}" width="200px"height="120px"></a></div>
                            <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">본앤드 칼슘 골드</div>
                            <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">70,000 원</span>38,000<span class="te_do teb sz_12">원</span></div>
                        </div>
                    </div>
                </td>


                <td width="218px" height="210" bgcolor="white"valign="top">
                    <div class="sub_chu_tit">추천상품</div>
                    <div style="width:212px; height:175px; padding:3px" id="sub_03">
                        <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_03');" onmouseout="javascript:SW('sub_03');">
                            <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0525H&Cat_Content=&Types=W_F_cate4}"><img th:src="@{/img/product/W_A0525H/13182250185_thum200_120_42.jpg}" width="200px"height="120px"></a></div>
                            <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">프리미엄 그린칼슘</div>
                            <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">59,000 원</span>49,000<span class="te_do teb sz_12">원</span></div>
                        </div>
                    </div>
                </td>

            </tr><tr>


            <td width="218px" height="210" bgcolor="white"valign="top">
                <div class="sub_chu_tit">추천상품</div>
                <div style="width:212px; height:175px; padding:3px" id="sub_04">
                    <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_04');" onmouseout="javascript:SW('sub_04');">
                        <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0809H&Cat_Content=&Types=W_F_cate4}"><img th:src="@{/img/product/W_A0809H/13182256704_thum200_120_60.jpg}" width="200px"height="120px"></a></div>
                        <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">글루코사민 포르테</div>
                        <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">150,000 원</span>75,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>


            <td width="218px" height="210" bgcolor="white"valign="top">
                <div class="sub_chu_tit">추천상품</div>
                <div style="width:212px; height:175px; padding:3px" id="sub_05">
                    <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_05');" onmouseout="javascript:SW('sub_05');">
                        <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0811H&Cat_Content=&Types=W_F_cate4}"><img th:src="@{/img/product/W_A0811H/13182250873_thum200_120_43.jpg}" width="200px"height="120px"></a></div>
                        <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">키드프렌즈</div>
                        <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">180,000 원</span>88,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>

        </tr>
            <tr><td height="1px" bgcolor="#d7d7d7" colspan="3"></td></tr>
        </table>
    </div>

</th:block>
