<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="cate_subcontents">

<div style="padding-top:15px;"><img src="/img/common/tit_22.png"></div>
<div style="padding-top:10px;width:740px;">
    <table width="100%" cellspacing="1"cellpadding="0" border="0" style="background-color:#d7d7d7;">
        <tr><td height="1px" bgcolor="#d7d7d7" colspan="3"></td></tr>
        <tr>


            <td width="300px" rowspan="2" bgcolor="white" valign="top" align="center">
                <div style="padding-top:10px;padding-bottom:10px;"><img th:src="@{/img/common/tx_65.png}"></div>
                <div style="width:300px; height:310px;padding-top:3px;" id="sub_00">
                    <div style="width:294px; height:307px; background-color:white;"onmouseover="javascript:SO('sub_00');" onmouseout="javascript:SW('sub_00');">
                        <div style="text-align:center;"><a th:href="@{/product/detail?code=W_A1901H&Cat_Content=&Types=W_F_cate3}"><img th:src="@{/img/product/W_A1901H/13215094087_thum260_126.jpg}" width="254px"height="250px"></a></div>
                        <div style="padding-top:15px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">세이웰 비타민E</div>
                        <div style="text-align:center;padding-top:3px;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">198,000 원</span>158,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>


            <td width="218px" height="210" bgcolor="white"valign="top">
                <div class="sub_chu_tit">추천상품</div>
                <div style="width:212px; height:175px; padding:3px" id="sub_02">
                    <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_02');" onmouseout="javascript:SW('sub_02');">
                        <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0508H&Cat_Content=&Types=W_F_cate3}"><img th:src="@{/img/product/W_A0508H/13182247059_thum200_120_36.jpg}" width="200px"height="120px"></a></div>
                        <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">프로폴리스 슈프림</div>
                        <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">69,000 원</span>56,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>


            <td width="218px" height="210" bgcolor="white"valign="top">
                <div class="sub_chu_tit">추천상품</div>
                <div style="width:212px; height:175px; padding:3px" id="sub_03">
                    <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_03');" onmouseout="javascript:SW('sub_03');">
                        <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0510H&Cat_Content=&Types=W_F_cate3}"><img th:src="@{/img/product/W_A0510H/13182246875_thum200_120_29.jpg}" width="200px"height="120px"></a></div>
                        <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">초유 파우더</div>
                        <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">65,000 원</span>54,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>

        </tr><tr>


        <td width="218px" height="210" bgcolor="white"valign="top">
            <div class="sub_chu_tit">추천상품</div>
            <div style="width:212px; height:175px; padding:3px" id="sub_04">
                <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_04');" onmouseout="javascript:SW('sub_04');">
                    <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0506H&Cat_Content=&Types=W_F_cate3}"><img th:src="@{/img/product/W_A0506H/13182247594_thum200_120_37.jpg}" width="200px"height="120px"></a></div>
                    <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">비 프로폴리스</div>
                    <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">50,000 원</span>39,000<span class="te_do teb sz_12">원</span></div>
                </div>
            </div>
        </td>


        <td width="218px" height="210" bgcolor="white"valign="top">
            <div class="sub_chu_tit">추천상품</div>
            <div style="width:212px; height:175px; padding:3px" id="sub_05">
                <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_05');" onmouseout="javascript:SW('sub_05');">
                    <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0507H&Cat_Content=&Types=W_F_cate3}"><img th:src="@{/img/product/W_A0507H/13182247939_thum200_120_35.jpg}" width="200px"height="120px"></a></div>
                    <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">블랙베리 비타민C</div>
                    <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">59,000 원</span>49,000<span class="te_do teb sz_12">원</span></div>
                </div>
            </div>
        </td>

    </tr>
        <tr><td height="1px" bgcolor="#d7d7d7" colspan="3"></td></tr>
    </table>
</div>
</th:block>