<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="cate_subcontents">
<div style="padding-top:15px;"><img th:src="@{/img/common/tit_21.png}"></div>
<div style="padding-top:10px;width:740px;">
    <table width="100%" cellspacing="1"cellpadding="0" border="0" style="background-color:#d7d7d7;">
        <tr><td height="1px" bgcolor="#d7d7d7" colspan="3"></td></tr>
        <tr>


            <td width="300px" rowspan="2" bgcolor="white" valign="top" align="center">
                <div style="padding-top:10px;padding-bottom:10px;"><img th:src="@{/img/common/tx_61.png}"></div>
                <div style="width:300px; height:310px;padding-top:3px;" id="sub_00">
                    <div style="width:294px; height:307px; background-color:white;"onmouseover="javascript:SO('sub_00');" onmouseout="javascript:SW('sub_00');">
                        <div style="text-align:center;"><a th:href="@{/product/detail?code=wisefood_licoverS&Cat_Content=W_Feat&Types=W_F_cate1}"><img th:src="@{/img/product/wisefood_licoverS/13244376829_thum260_198.jpg}" width="254px"height="250px"></a></div>
                        <div style="padding-top:15px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">숙취종결자!! 리커버S</div>
                        <div style="text-align:center;padding-top:3px;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">80,000 원</span>64,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>


            <td width="218px" height="210" bgcolor="white"valign="top">
                <div class="sub_chu_tit">추천상품</div>
                <div style="width:212px; height:175px; padding:3px" id="sub_02">
                    <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_02');" onmouseout="javascript:SW('sub_02');">
                        <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A2307H&Cat_Content=W_Feat}"><img th:src="@{/img/product/W_A2307H/13209958223_thum200_120_142.jpg}" width="200px"height="120px"></a></div>
                        <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">TNG 옥타코사놀</div>
                        <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">93,000 원</span>85,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>


            <td width="218px" height="210" bgcolor="white"valign="top">
                <div class="sub_chu_tit">추천상품</div>
                <div style="width:212px; height:175px; padding:3px" id="sub_03">
                    <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_03');" onmouseout="javascript:SW('sub_03');">
                        <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A1901H&Cat_Content=W_Feat}"><img th:src="@{/img/product/W_A1901H/13215094089_thum200_120_126.jpg}" width="200px"height="120px"></a></div>
                        <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">세이웰 비타민E</div>
                        <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">198,000 원</span>158,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>

        </tr><tr>


        <td width="218px" height="210" bgcolor="white"valign="top">
            <div class="sub_chu_tit">추천상품</div>
            <div style="width:212px; height:175px; padding:3px" id="sub_04">
                <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_04');" onmouseout="javascript:SW('sub_04');">
                    <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A2305H&Cat_Content=W_Feat}"><img th:src="@{/img/product/W_A2305H/13209946684_thum200_120_140.jpg}" width="200px"height="120px"></a></div>
                    <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">TNG 엽산</div>
                    <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">49,000 원</span>45,000<span class="te_do teb sz_12">원</span></div>
                </div>
            </div>
        </td>


        <td width="218px" height="210" bgcolor="white"valign="top">
            <div class="sub_chu_tit">추천상품</div>
            <div style="width:212px; height:175px; padding:3px" id="sub_05">
                <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_05');" onmouseout="javascript:SW('sub_05');">
                    <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A2301H&Cat_Content=W_Feat}"><img th:src="@{/img/product/W_A2301H/13209185049_thum200_120_136.jpg}" width="200px"height="120px"></a></div>
                    <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">EPO감마리놀렌산</div>
                    <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">50,000 원</span>46,000<span class="te_do teb sz_12">원</span></div>
                </div>
            </div>
        </td>

    </tr>
        <tr><td height="1px" bgcolor="#d7d7d7" colspan="3"></td></tr>
    </table>
</div>
</th:block>