<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="cate_subcontents">

    <div style="padding-top:15px;"><img th:src="@{/img/common/tit_5.png}"></div>
    <div style="padding-top:10px;width:740px;">
        <table width="100%" cellspacing="1"cellpadding="0" border="0" style="background-color:#d7d7d7;">
            <tr><td height="1px" bgcolor="#d7d7d7" colspan="3"></td></tr>
            <tr>


                <td width="300px" rowspan="2" bgcolor="white" valign="top" align="center">
                    <div style="padding-top:10px;padding-bottom:10px;"><img th:src="@{/img/common/tx_81.png}"></div>
                    <div style="width:300px; height:310px;padding-top:3px;" id="sub_00">
                        <div style="width:294px; height:307px; background-color:white;"onmouseover="javascript:SO('sub_00');" onmouseout="javascript:SW('sub_00');">
                            <div style="text-align:center;"><a th:href="@{/product/detail?code=W_A0701L&Cat_Content=W_Helth}"><img th:src="@{/img/product/W_A0701L/13206554027_thum260_128.jpg}" width="254px"height="250px"></a></div>
                            <div style="padding-top:15px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">파워볼</div>
                            <div style="text-align:center;padding-top:3px;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">48,000 원</span>45,000<span class="te_do teb sz_12">원</span></div>
                        </div>
                    </div>
                </td>


                <td width="218px" height="210" bgcolor="white"valign="top">
                    <div class="sub_chu_tit">추천상품</div>
                    <div style="width:212px; height:175px; padding:3px" id="sub_02">
                        <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_02');" onmouseout="javascript:SW('sub_02');">
                            <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0401L&Cat_Content=W_Helth}"><img th:src="@{/img/product/W_A0401L/13190035263_thum200_120_117.jpg}" width="200px"height="120px"></a></div>
                            <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">에스난타</div>
                            <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">248,000 원</span>248,000<span class="te_do teb sz_12">원</span></div>
                        </div>
                    </div>
                </td>


                <td width="218px" height="210" bgcolor="white"valign="top">
                    <div class="sub_chu_tit">추천상품</div>
                    <div style="width:212px; height:175px; padding:3px" id="sub_03">
                        <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_03');" onmouseout="javascript:SW('sub_03');">
                            <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0108L&Cat_Content=W_Helth}"><img th:src="@{/img/product/W_A0108L/13179798276_swing.jpg}" width="200px"height="120px"></a></div>
                            <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">임팩트300</div>
                            <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">187,000 원</span>87,000<span class="te_do teb sz_12">원</span></div>
                        </div>
                    </div>
                </td>

            </tr><tr>


            <td width="218px" height="210" bgcolor="white"valign="top">
                <div class="sub_chu_tit">추천상품</div>
                <div style="width:212px; height:175px; padding:3px" id="sub_04">
                    <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_04');" onmouseout="javascript:SW('sub_04');">
                        <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0601L&Cat_Content=W_Helth}"><img th:src="@{/img/product/W_A0601L/13200402430_thum200_120_124.jpg}" width="200px"height="120px"></a></div>
                        <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">만수무강 원적외선 족온기</div>
                        <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">128,000 원</span>120,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>


            <td width="218px" height="210" bgcolor="white"valign="top">
                <div class="sub_chu_tit">추천상품</div>
                <div style="width:212px; height:175px; padding:3px" id="sub_05">
                    <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_05');" onmouseout="javascript:SW('sub_05');">
                        <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0201L&Cat_Content=W_Helth}"><img th:src="@{/img/product/W_A0201L/13189268389_thum200_120_112.jpg}" width="200px"height="120px"></a></div>
                        <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">아큐퍼스트 다이어트</div>
                        <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">178,000 원</span>138,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>

        </tr>
            <tr><td height="1px" bgcolor="#d7d7d7" colspan="3"></td></tr>
        </table>
    </div>

</th:block>