<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="cate_subcontents">

    <div style="padding-top:15px;"><img th:src="@{/img/common/tit_6.png}"></div>
    <div style="padding-top:10px;width:740px;">
        <table width="100%" cellspacing="1"cellpadding="0" border="0" style="background-color:#d7d7d7;">
            <tr><td height="1px" bgcolor="#d7d7d7" colspan="3"></td></tr>
            <tr>


                <td width="300px" rowspan="2" bgcolor="white" valign="top" align="center">
                    <div style="padding-top:10px;padding-bottom:10px;"><img th:src="@{/img/common/tx_71.png}"></div>
                    <div style="width:300px; height:310px;padding-top:3px;" id="sub_00">
                        <div style="width:294px; height:307px; background-color:white;"onmouseover="javascript:SO('sub_00');" onmouseout="javascript:SW('sub_00');">
                            <div style="text-align:center;"><a th:href="@{/product/detail?code=W_A1801H&Cat_Content=W_Skin}"><img th:src="@{/img/product/W_A1801H/13201347029_thum260_123.jpg}" width="254px"height="250px"></a></div>
                            <div style="padding-top:15px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">Q바이트플라센타</div>
                            <div style="text-align:center;padding-top:3px;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">180,000 원</span>126,000<span class="te_do teb sz_12">원</span></div>
                        </div>
                    </div>
                </td>


                <td width="218px" height="210" bgcolor="white"valign="top">
                    <div class="sub_chu_tit">추천상품</div>
                    <div style="width:212px; height:175px; padding:3px" id="sub_02">
                        <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_02');" onmouseout="javascript:SW('sub_02');">
                            <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A2406S&Cat_Content=W_Skin}"><img th:src="@{/img/product/W_A2406S/13215039269_thum200_120_158.jpg}" width="200px"height="120px"></a></div>
                            <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">데이앤나이트크림</div>
                            <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">42,000 원</span>42,000<span class="te_do teb sz_12">원</span></div>
                        </div>
                    </div>
                </td>


                <td width="218px" height="210" bgcolor="white"valign="top">
                    <div class="sub_chu_tit">추천상품</div>
                    <div style="width:212px; height:175px; padding:3px" id="sub_03">
                        <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_03');" onmouseout="javascript:SW('sub_03');">
                            <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0814S&Cat_Content=W_Skin}"><img th:src="@{/img/product/W_A0814S/13182243393_thum200_120_19.jpg}" width="200px"height="120px"></a></div>
                            <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">아크클리닉 리퀴드</div>
                            <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">40,000 원</span>33,000<span class="te_do teb sz_12">원</span></div>
                        </div>
                    </div>
                </td>

            </tr><tr>


            <td width="218px" height="210" bgcolor="white"valign="top">
                <div class="sub_chu_tit">추천상품</div>
                <div style="width:212px; height:175px; padding:3px" id="sub_04">
                    <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_04');" onmouseout="javascript:SW('sub_04');">
                        <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A2103S&Cat_Content=W_Skin}"><img th:src="@{/img/product/W_A2103S/13196833332_thum200_120_120.jpg}" width="200px"height="120px"></a></div>
                        <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">아토라떼 로션</div>
                        <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">33,000 원</span>30,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>


            <td width="218px" height="210" bgcolor="white"valign="top">
                <div class="sub_chu_tit">추천상품</div>
                <div style="width:212px; height:175px; padding:3px" id="sub_05">
                    <div style="width:206px; height:169px;padding:3px; background-color:white"onmouseover="javascript:SO('sub_05');" onmouseout="javascript:SW('sub_05');">
                        <div style="padding-top:5px;text-align:center;"><a th:href="@{/product/detail?code=W_A0815S&Cat_Content=W_Skin}"><img th:src="@{/img/product/W_A0815S/13182243001_thum200_120_17.jpg}" width="200px"height="120px"></a></div>
                        <div style="padding-top:8px;text-align:center;line-height:15px;"class="sz_12 te_gray te_do te_en te_le">SIS 아토 클리닉 솝</div>
                        <div style="text-align:center;"class="sz_18 te_pink te_en te_le te_b"><span class="te_deco te_gray te_do te_en te_le" style="margin-right:10px;font-size:12px;">18,000 원</span>15,000<span class="te_do teb sz_12">원</span></div>
                    </div>
                </div>
            </td>

        </tr>
            <tr><td height="1px" bgcolor="#d7d7d7" colspan="3"></td></tr>
        </table>
    </div>

</th:block>