
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="adver_right" style="padding-top:15px;padding-bottom:30px;">
        <ul>
            <li style="background-color:#e8e8e8;height:1px"></li>
            <li style="border-bottom:1px solid #e8e8e8"><a th:href="@{/product/detail?code=W_A1701N&Cat_Content=}" ><img th:src="@{/img/adver/Adver_Right/1320715471_banner03.jpg}" width='190px' height='58px' ></a></li>
            <li style="border-bottom:1px solid #e8e8e8"><a th:href="@{/product/category?Cat_Content=W_Hongsam}" ><img th:src="@{/img/adver/Adver_Right/1320825354_banner05.jpg}" width='190px' height='58px' ></a></li>
        </ul>
    </div>
</body>